<section class="teach-box clearfiex">
  <div class="container">
    <%= render 'nav' %>

    <div class="content-box">
      <div class="content-noborder">
        <div class="intro-img">
          <div class="mask">
            全国首家地产数字营销创业储备交易平台
          </div>
        </div>
        <!-- <%= image_tag(image_path('queens/btm.png'),class:'intro-img')%> -->
        <h4 style="margin-top:-130px">平台简介</h4>
        <p>
          作为中国领先的地产数字营销一站式众包平台，蚂蚁共和立志打造一个集搜索引擎与交易平台于一体的多元化地产数字营销功能网站。公司自成立以来，聚集大量互联网内容
          生产者，发掘喝培育优秀的、年轻的优质服务商，为新一代的地产数字营销市场提供更优秀、更丰富的内容产品，并始终立足于优化案例及服务商搜索，完善服务交易流程，致力让地产人
          享受诚信高质服务的同时，助理服务商的成长与发展。
        </p>
        <p>
          公司以”蚂蚁共和“为核心价值观，蚂蚁虽小，但齐心协力、聚沙成塔，我们愿带领千万蚁后，为地产数字营销市场提供一个最大最全的创意储备平台与私下交流高地。
        </p>
      </div>
    </div>

  </div>
<section>
