<section class="teach-box clearfiex">
  <div class="container">
    <%= render 'nav' %>

    <div class="content-box">
      <div class="content">
        <h5>1、什么是蚁后</h5>
        <p>凭借自身技能与专业知识，在蚂蚁共和平台上帮助甲方解决所发布的效果图、影片或多媒体需求，从而获得报酬的专业人才、团队和机构</p>
      </div>

      <div class="content">
        <h5>2、如何成为认证蚁后</h5>
        <p>想要成为蚁后，首先需要注册账号，进入个人页面进行身份认证，在蚁后与雇主进行单一选择，并提交相应材料，通过管理员身份认证后方可开始接单，出售自己的服务。</p>
      </div>

      <div class="content">
        <h5>3、蚁后如何接单</h5>
        <p>作为已经认证的蚁后，可以通过甲方需求栏寻找适合自己的项目描述竞标。点赞收藏较多，服务太多优质的蚁后将会及时被推荐给更多甲方。</p>
      </div>

    </div>

  </div>
<section>
