
<section style="margin-top:40px" class='userLogin'>
	<div class="mask-bg">
		<% if session[:role] == 'owner' %>
			<h3>委托方注册</h3>
		<% end %>
		<% if session[:role] == 'queen' %>
			<h3>蚁后注册</h3>
		<% end %>
		<div class='container'>
			<div class='row'>
				<div class='col-sm-12 col-md-offset-3 col-md-6'>
					<div class='thumbnail info-thumbnail' style="border:1px solid #ccc">
						<div class='caption'>
							<!-- <h3>
								<%= Profile.model_name.human %>
								<%= link_to 'Back', choose_user_path(@user), class: 'btn btn-info' %>
							</h3> -->

							<%= render 'form' %>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
