<section>
	<div class="container">
	    <div class="row">
			<div class="col-sm-12 col-md-offset-3 col-md-6">
				<div class="thumbnail info-thumbnail background-lead color-white">
					<div class="caption">
						<h3><span class="fa fa-user"></span> 登陆</h3>
						<%= simple_form_for(:session, url: login_path) do |f| %>
							<%= f.input :email, label: User.human_attribute_name("email") %>
							<%= f.input :password, label: User.human_attribute_name("password") %>
						 	<%= f.button :submit, t(:login) %>
						<% end %>
					</div>
				</div>
			</div>
		</div>      
	</div>
</section>