        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="http-error">
              <h1 class="text-center http-error-number color-lead">
                404.
              </h1>
              <p class="text-center">
                That's embarrassing, it seems you've reached the dead end.
              </p>
              <p class="text-center">
                <span class="fa fa-frown-o icon-image color-lead"></span>
              </p>
            </div>
          </div>
        </div>