<div class="upload-img-box">
  <div class="upload-img-item">
    <span><input type="checkbox" name="upload-all-checkbox" value=""></span>
    <span>类型</span>
    <span>文件名称</span>
    <span>删除</span>
      <% need_image = @need.need_imgs.build %>
      <%= form_for need_image, url: need_img_need_path(@need), html: { multipart: true } do |i| %>
        <%= i.file_field :photo, class: 'need_img_upload' %>
      <% end %>
  </div>
 <% unless @need.need_imgs.blank? %>
    <% @need.need_imgs.each do |img|%>
      <div class="upload-img-item">
        <span><input type="checkbox" name="upload-img-checkbox" value=""></span>
        <span><%= image_tag img.photo.small_url %></span>
        <span><%= "#{img.photo.filename}" %></span>
      </div>
    <% end %>
  <% end %>
</div>
