<%= simple_form_for(task) do |f| %>
  <%= f.error_notification %>
  <div class="task-unit">
    <span class="task-time">
      <div class="form-group">
        <input type="text" name="task[dead_line]" class="form-control">
      </div>
    </span>
    <span class="task-title">
      <%= f.input :title, label:false %>
    </span>
    <span class="task-action">
      <%= f.button :submit %>
    </span>
  </div>
<% end %>
