.row.create-plan
  .col-md-12
    %h3.text-center
      乙方已制定计划！请查看并确认通过！
    %p.text-center
      %button.btn.btn-primary#checkPlanModalBtn{:'data-toggle' => "modal",:'data-target' => "#checkPlanModal"} 
        查看计划
