.row.create-plan
  .col-md-12
    %h3.text-center
      乙方已制定计划！请查看并确认通过！


= render :partial => "calendar", :locals => {plan:@plans, need:@need}
.row
  %p.text-center
    = link_to '计划不错,予以确认', plan_confirm_need_path(@need),  class: 'btn btn-primary'
    = link_to '有问题,需要再讨论', plan_refuse_need_path(@need),  class: 'btn btn-warning'
