        <div class="row">
          <div class="col-md-3">
            <div class="list-group bright background-clouds color-text">
              <div class="list-group-item"><h3>Menu</h3></div>
              <a href="#" class="list-group-item">
                Cras justo odio
              </a>
              <a href="#" class="list-group-item active">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
            <ul class="list-group background-lead color-white">
              <li class="list-group-item">
                <span class="badge background-white color-lead">14</span>
                Cras justo odio
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">2</span>
                Dapibus ac facilisis in
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">1</span>
                Morbi leo risus
              </li>
            </ul>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1><span>Headings</span></h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <h1 class="x-large">h1. x-large heading</h1>
                    <h1 class="large">h1. large heading</h1>
                    <h1><span>h1. Bootstrap heading</span></h1>
                    <h1>h1. Bootstrap heading</h1>
                    <h1 class="no-border">h1. Bootstrap heading</h1>
                    <h2><span>h2. Bootstrap heading</span></h2>
                    <h2>h2. Bootstrap heading</h2>
                    <h2 class="no-border">h2. Bootstrap heading</h2>
                    <h3>h3. Bootstrap heading</h3>
                    <h4>h4. Bootstrap heading</h4>
                    <h5>h5. Bootstrap heading</h5>
                    <h6>h6. Bootstrap heading</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h1><span>Paragraphs</span></h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <h4>Lead</h4>
                    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                    <h4>Normal</h4>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                    <h4>Emphasis</h4>
                    <p><em>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</em></p>
                    <h4>Small</h4>
                    <p><small>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</small></p>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h1><span>Blockquotes</span></h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>
                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h1><span>Unorderd Lists</span></h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <ul>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Consectetur adipiscing elit</li>
                      <li>Integer molestie lorem at massa</li>
                      <li>Facilisis in pretium nisl aliquet</li>
                      <li>Nulla volutpat aliquam velit
                        <ul>
                          <li>Phasellus iaculis neque</li>
                          <li>Purus sodales ultricies</li>
                          <li>Vestibulum laoreet porttitor sem</li>
                          <li>Ac tristique libero volutpat at</li>
                        </ul>
                      </li>
                      <li>Faucibus porta lacus fringilla vel</li>
                      <li>Aenean sit amet erat nunc</li>
                      <li>Eget porttitor lorem</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h1><span>Ordered Lists</span></h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <ol>
                      <li>Lorem ipsum dolor sit amet</li>
                      <li>Consectetur adipiscing elit</li>
                      <li>Integer molestie lorem at massa</li>
                      <li>Facilisis in pretium nisl aliquet</li>
                      <li>Nulla volutpat aliquam velit
                        <ul>
                          <li>Phasellus iaculis neque</li>
                          <li>Purus sodales ultricies</li>
                          <li>Vestibulum laoreet porttitor sem</li>
                          <li>Ac tristique libero volutpat at</li>
                        </ul>
                      </li>
                      <li>Faucibus porta lacus fringilla vel</li>
                      <li>Aenean sit amet erat nunc</li>
                      <li>Eget porttitor lorem</li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h1><span>News list</span></h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <a href="" class="news-link">
                      <div class="media news">
                        <div class="pull-left color-lead">
                          01.02<br><small>2014</small>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">News heading</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                    </a>
                    <a href="" class="news-link">
                      <div class="media news">
                        <div class="pull-left color-lead">
                          23.01<br><small>2014</small>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Good news</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                    </a>
                    <a href="" class="news-link">
                      <div class="media news">
                        <div class="pull-left color-lead">
                          14.01<br><small>2014</small>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading">Bad news</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <h1>Buttons</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <!-- Lead button -->
                    <button type="button" class="btn btn-lead lighten">Lead lighten</button>

                    <!-- Lead button -->
                    <button type="button" class="btn btn-lead">Lead</button>

                    <!-- Lead button -->
                    <button type="button" class="btn btn-lead darken">Lead darken</button>

                    <!-- Standard button -->
                    <button type="button" class="btn btn-default">Default</button>

                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary">Primary</button>

                    <!-- Indicates a successful or positive action -->
                    <button type="button" class="btn btn-success">Success</button>

                    <!-- Contextual button for informational alert messages -->
                    <button type="button" class="btn btn-info">Info</button>

                    <!-- Indicates caution should be taken with this action -->
                    <button type="button" class="btn btn-warning">Warning</button>

                    <!-- Indicates a dangerous or potentially negative action -->
                    <button type="button" class="btn btn-danger">Danger</button>

                    <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                    <button type="button" class="btn btn-link">Link</button>

                    <h3>Sizes</h3>
                    <p>
                      <button type="button" class="btn btn-primary btn-lg">Large button</button>
                      <button type="button" class="btn btn-default btn-lg">Large button</button>
                    </p>
                    <p>
                      <button type="button" class="btn btn-primary">Default button</button>
                      <button type="button" class="btn btn-default">Default button</button>
                    </p>
                    <p>
                      <button type="button" class="btn btn-primary btn-sm">Small button</button>
                      <button type="button" class="btn btn-default btn-sm">Small button</button>
                    </p>
                    <p>
                      <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                      <button type="button" class="btn btn-default btn-xs">Extra small button</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>