        <h1><span>Portfolio</span></h1>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round" src="img/placeholder-man.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round" src="img/placeholder-annency-rect.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round" src="img/placeholder-heli.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round" src="img/placeholder-annency-rect.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round" src="img/placeholder-man.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-clouds color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round" src="img/placeholder-heli.jpg" alt="...">
            </div>
            </div>
          </div>
        </div>