%section.user-center-section
	.container
		.row
			= render "menu"
		.row.background-white
			.col-md-12
				.content
					%h1 项目动态
					%ul
						- @messages.each_with_index do |m,i|
							%li= simple_format(m.body)
