%section
  .container
    .row
      .col-md-3
        = render "menu"
      .col-md-9
        .content
          .caption
            %h3= t('user_following')
          = render '/shared/user_products'
          