%section
  .container
    .row
      .col-md-3
        = render "menu"
      .col-md-9
        .content
          .caption
            %h3= t('user_following')
          - @products.each do |product|
            .col-md-4
              %a{href: product_path(product), class: :thumbnail}
                = image_tag(product.avatar)
                %p= product.title
          