%section.user-center-section
  .container
    .row
      = render "menu"
    .row.background-white
      .col-md-12.padd-top
        .content
          .caption
            %h3
          = render '/shared/user_products'
