%section.user-center-section
  .container
    .row
      = render "menu"
    .row.background-white
      .col-md-12
        .content
          .caption
            %h3= t('user_voteable')
          = render '/shared/user_products'