    <section class="ants_list color-black">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h2>
              <span class="queen_header_icon"></span>
              推荐蚁后
            </h2>
          </div>
        </div>
      </div>
      <div class="container ants_list_block">
        <div class="row">
          <% @queens.each do |queen|%>
          <div class="col-xs-6 col-sm-4 col-lg-3">
            <div class="thumbnail gallery-thumbnail" href="#">
              <%= image_tag( queen.avatar.url , class: 'img-circle') %>
              <div class="ants_queen_contact_card text-center">
                <h6><%=  link_to queen.name, queen_path(queen) %></h6>
                <p><%= queen.description %></p>
              </div>
            </div>
          </div>
          <%- end -%>
        </div>
      </div>  
    </section>
