%section.ants_list.color-black
  .container
    .row
      .col-lg-6
        %h3
          推荐蚁后
      .col-lg-6
  .container
    .row
      .col-xs-6.col-sm-4.col-md-2
        %a.thumbnail.gallery-thumbnail{:href => "#"}
          %img.img-circle{:src => image_path('neat/w3w-logo.png'), :alt => ""}/
      .col-xs-6.col-sm-4.col-md-2
        %a.thumbnail.gallery-thumbnail{:href => "#"}
          %img.img-circle{:src => image_path('neat/w3w-logo.png'), :alt => ""}/
      .col-xs-6.col-sm-4.col-md-2
        %a.thumbnail.gallery-thumbnail{:href => "#"}
          %img.img-circle{:src => image_path('neat/w3w-logo.png'), :alt => ""}/
      .col-xs-6.col-sm-4.col-md-2
        %a.thumbnail.gallery-thumbnail{:href => "#"}
          %img.img-circle{:src => image_path('neat/w3w-logo.png'), :alt => ""}/
    