    <section class="ants_list color-black ants_show_page">
      <div class="container ants_list_block">
        <div class="ants_recommand_title">
            <h2>
              <span class="queen_header_icon"></span>
              推荐蚁后
            </h2>
            <p>
              这些是我们的优质蚁后，有中意的可以戳他们哟
            </p>
        </div>
        <div class="row">
          <div class="ants_list_container">
            <% @queens.each do |queen|%>
            <div class="width143">
              <%= image_tag( queen.avatar.small_url) %>
              <div class="ants_queen_contact_card text-center">
                <h6><%=queen.name%></h6>
                <p class="contact_ants_link_p">
                  <%=  link_to '联系 TA', queen_path(queen) %>
                </p>
                <!-- <p><%= queen.description %></p> -->
              </div>
            </div>
            <%- end -%>
          </div>
        </div>
    </section>

            

