%section.ants_list.color-black
  .container
    .row
      .col-lg-6.col-sm-12
        %h2
          %span.queen_header_icon
          推荐蚁后
      .col-lg-6.col-sm-12
        
  .container.ants_list_block
    .row
      .col-xs-6.col-sm-4.col-lg-3
        %a.thumbnail.gallery-thumbnail{:href => "#"}
          %img.img-circle{:src => image_path('neat/w3w-logo.png'), :alt => ""}
        .ants_queen_contact_card.text-center
          %H6 李林
          %a.btn.btn-primary.text-center{:href => "#"}
            联系TA

      .col-xs-6.col-sm-4.col-lg-3
        %a.thumbnail.gallery-thumbnail{:href => "#"}
          %img.img-circle{:src => image_path('neat/w3w-logo.png'), :alt => ""}/
        .ants_queen_contact_card.text-center
          %H6 李林
          %a.btn.btn-primary.text-center{:href => "#"}
            联系TA
      .col-xs-6.col-sm-4.col-lg-3
        %a.thumbnail.gallery-thumbnail{:href => "#"}
          %img.img-circle{:src => image_path('neat/w3w-logo.png'), :alt => ""}/
        .ants_queen_contact_card.text-center
          %H6 李林
          %a.btn.btn-primary.text-center{:href => "#"}
            联系TA
      .col-xs-6.col-sm-4.col-lg-3
        %a.thumbnail.gallery-thumbnail{:href => "#"}
          %img.img-circle{:src => image_path('neat/w3w-logo.png'), :alt => ""}/
        .ants_queen_contact_card.text-center
          %H6 李林
          %a.btn.btn-primary.text-center{:href => "#"}
            联系TA
    