
<div id="links" style="display:none">
    <% banners =  Banner.where(state: "active").order(created_at: :desc).first(4) %>
    <% banners.each do |banner| %>
        <%= link_to image_tag(banner.image_url(:thumb), alt: banner.title), banner.image_url, title: banner.title %>
    <% end %>
</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel" style="display:block;opacity:1">
    <div class="slides"></div>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <ol class="indicator"></ol>
</div>