<div class="owl-carousel owl-theme homepageCarousel" >
    <% banners =  Banner.where(state: "active").order(created_at: :desc).first(4) %>
    <% banners.each do |banner| %>
	    <div class="item">
	        <%= link_to image_tag(banner.image_url(:thumb), alt: banner.title), banner.image_url, title: banner.title %>
	    </div>
    <% end %>
</div>
