
<div id="links" style="display:none">
    <%= link_to image_tag('neat/background-paralax.jpg'), image_path('neat/background-paralax.jpg', alt: '万科1'), title: '万科1' %>
    <%= link_to image_tag('neat/article-head.jpg'), image_path('neat/article-head.jpg'), title: "万科2" %>
    <%= link_to image_tag('neat/gallery/g3.jpg'), image_path('neat/gallery/g3.jpg'), title: "万科3" %>
    <%= link_to image_tag('neat/gallery/g4.jpg'), image_path('neat/gallery/g4.jpg'), title: "万科4" %>
</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>