
<div id="links" style="display:none">
    <% banners =  Banner.where(state: "active").order(created_at: :desc).first(4) %>
    <% banners.each do |banner| %>
        <%= link_to image_tag(banner.image_url(:thumb)), banner.image_url, alt: banner.title), title: banner.title %>
    <% end %>
</div>
<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>