<div class="row owl-carousel owl-theme case-carousel">
  <% @products.each_with_index do |product, index|%>
    <% if index%2 == 0 %>
      <div class="item">
    <% end %>
        <div class="product">
          <div class="productBlock" >
            <div class="product-image" style="background-image:url(<%=product.avatar.small_url%>)">
            </div>
            <div class="caption bordered">
              <h3>
                <%= link_to(product.title, product) unless product.title.nil?%>
              </h3>
              <div class="description">
                <p>
                    <b>委托客户:</b>
                    <%= product.client_name%>
                </p>
                <p>
                    <b>参考价格:</b>
                    <%= product.ref_price%>
                </p>
                <p>
                  <span class="glyphicon glyphicon-heart"></span>
                  <span>100</span>
                  <span class="glyphicon glyphicon-share"></span>
                  <span>100</span>
                </p>
              </div>
            </div>
          </div>
        </div>
    <% if index%2 != 0 %>
      </div>
    <% end %>
   
  <% end %>
</div>
<div class="row">
  <div class="col-sm-12 text-right">
    <a href="/queen_works/search?utf8=✓&queen_work%5Btitle%5D=&queen_work%5Bcategory%5D=效果图">更多</a>
  </div>
</div>
    
