- @products.each do |product|
  .col-md-4
    %a{href: product_path(product), class: :thumbnail}
      = image_tag(product.avatar.small_url)
      %p= product.title
- if action_name == 'product_list'
	.col-md-4
	  %a{href: new_product_path, class: 'btn btn-primary'}
	    %p= '添加案例'