<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">首页面板</a></li>
  <li role="presentation"><a href="#">项目管理</a></li>
  <li role="presentation"><a href="#">我的案例</a></li>
  <li role="presentation"><a href="#">个人资料</a></li>
</ul>