%section.queens_page_list
  .container
    .row
      .col-md-21
        %h2
          %span.queens_page_list_header_icon
          认证蚁后
    .row
      - @queens.each do |queen|
        .col-md-6
          %a{:href => queen_path(queen)}
            .queen_avatar.text-right
              = image_tag(image_path(queen.avatar_url), class: 'img-circle')
            .queen_name_desc
              %h4
                %strong= queen.name
= render :partial => 'welcome/ants_feature'
= render :partial => 'welcome/contact_section'
