%section.product_list_section.color-black
  .container
    .row.product_list_header
      .col-lg-6.col-sm-12
        %h2
          %span.product_list_header_icon
          精选范例
      .col-lg-6.col-sm-12
        %ul.nav.nav-pills.pull-right
          %li.nav-item
            =link_to "效果图", root_path("javascript:void(0);"), class: "nav-link product-list-jack"
          %li.nav-item
            =link_to "影片", root_path("javascript:void(0);"), class: "nav-link product-list-jack"
          %li.nav-item
            =link_to "多媒体", root_path("javascript:void(0);"), class: "nav-link product-list-jack"
          %li.nav-item
            =link_to "更多案例", products_path, class: "nav-link"
  .ants_products_list_container
    .container
      = render "shared/product_list"
