%section.ants_index_section
  .container
    .row
      .col-lg-4.col-md-4.col-sm-12
        %h2
          %span
            %img{:src => image_path('homepage/ants_index_heading_icon.png'), :alt => ""}/
          蚁巢指数
        %p
          %i
            蚂蚁共和网站数据蚂蚁共和网站数据
        %ul
          %li
            %span.ants_index_list_icon
            蚂蚁共和网站数据网站数据
          %li
            %span.ants_index_list_icon
            蚂蚁共和网站数据网站数据
          %li
            %span.ants_index_list_icon
            蚂蚁共和网站数据网站数据
          %li
            %span.ants_index_list_icon
            蚂蚁共和网站数据网站数据

      .col-lg-8.col-md-8.col-sm-12
        %strong 
          total amount:
          = @ant_point.total_amounts
          |
        %strong 
          total project:
          = @ant_point.total_projects
          |
        %strong 
          total ant:
          = @ant_point.total_ants
          
        %img{:src => image_path('homepage/ants_index_bg.png'), :alt => ""}/