%section.product_list_section.color-black
  .container
    .row.product_list_header
      .col-lg-6.col-sm-12
        %h2
          %span.product_list_header_icon
          案例展示
      .col-lg-6.col-sm-12
        %ul.nav.nav-pills.pull-right
          %li.nav-item
            =link_to "效果图", root_path(category: "效果图"), class: "nav-link #{active_class(root_path(category: '效果图'))}"
          %li.nav-item
            =link_to "影片", root_path(category: "影片"), class: "nav-link  #{active_class(root_path(category: '影片'))} "
          %li.nav-item
            =link_to "多媒体", root_path(category: "多媒体"), class: "nav-link #{active_class(root_path(category: '多媒体'))}"
  .container-fluid
    = render "shared/product_list"
