%section.ants_index_section
  .container
    .row
      .col-lg-4.col-md-4.col-sm-12
        %h2
          蚁巢指数
        %p
          蚂蚁共和网站数据蚂蚁共和网站数据
        %ul
          %li
            蚂蚁共和网站数据网站数据
          %li
            蚂蚁共和网站数据网站数据
          %li
            蚂蚁共和网站数据网站数据
          %li
            蚂蚁共和网站数据网站数据

      .col-lg-8.col-md-8.col-sm-12
        %img{:src => image_path('homepage/ants_index_bg.png'), :alt => ""}/