%section#quick_navi_section
  .container
    .row
      .col-lg-4.col-md-4.col-sm-12
        %a.quick_btn{:href => '#'}
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_1.png')}
          %h2
            发布需求
      .col-lg-4.col-md-4.col-sm-12
        %a.quick_btn{:href => '#'}
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_2.png')}
          %h2
            找案例
      .col-lg-4.col-md-4.col-sm-12
        %a.quick_btn{:href => '#'}
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_3.png')}
          %h2
            找蚁后
