%section.quick_startup_section
  .container
    .row
      .col-lg-12
        %h2
          %span.flow_header_icon
          如何快速启动您的项目
    .row
      .col-lg-3
        .quick_startup_steps.text-center
          .quick_startup_icon
            %img{:src => image_path('homepage/flow_icon_1.png'), :alt => ""}/
          %h4
            发布需求
          %h6.center-block
            甲方在身份认证后可提交项目需求，审核通过正式发布
          .steps_index_icon.text-center.center-block
            1
      .col-lg-3
        .quick_startup_steps.text-center
          .quick_startup_icon
            %img{:src => image_path('homepage/flow_icon_2.png'), :alt => ""}/
          %h4
            蚁后响应
          %h6.center-block
            需求发布后由平台选择最合适的蚁后响应甲方需求
          .steps_index_icon.text-center.center-block
            2
      .col-lg-3
        .quick_startup_steps.text-center
          .quick_startup_icon
            %img{:src => image_path('homepage/flow_icon_3.png'), :alt => ""}/
          %h4
            项目监管
          %h6.center-block
            个人订单中根据日程监管项目全流程，实时推送进度消息
          .steps_index_icon.text-center.center-block
            3
      .col-lg-3
        .quick_startup_steps.text-center
          .quick_startup_icon
            %img{:src => image_path('homepage/flow_icon_4.png'), :alt => ""}/
          %h4
            验收付款
          %h6.center-block
            确认最终成果，验收付款
          .steps_index_icon.text-center.center-block
            4
