%section#quick_navi_data_section
  .container
    .row.quick_navi_section
      .col-lg-4.col-md-4.col-sm-12
        %a.quick_btn.pull-right{:href => new_need_path }
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_1.png')}
          %h4
            发需求
      .col-lg-4.col-md-4.col-sm-12.text-center
        %a.quick_btn{:href => queen_works_path }
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_2.png')}
          %h4
            搜案例
      .col-lg-4.col-md-4.col-sm-12
        %a.quick_btn.pull-left{:href => queens_path }
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_3.png')}
          %h4
            找蚁后

    .row.ants_index_section
      .col-lg-4.col-md-4.col-sm-12
        %h2
          %span
            %img{:src => image_path('homepage/ants_index_heading_icon.png'), :alt => ""}/
          蚁巢指数
        %p
          %i
            蚂蚁共和网站数据蚂蚁共和网站数据
        %ul
          - ants_txt_arr = @ant_point.ants_text ? @ant_point.ants_text.split(/\r\n/) : []
          - ants_txt_arr.each do | text |
            %li
              %span.ants_index_list_icon
              = text

      .col-lg-8.col-md-8.col-sm-12
        .ants_index_block
          %p
            %strong.text-center#total-amounts
              = @ant_point.total_amounts
            %strong.text-center#total-projects
              = @ant_point.total_projects
            %strong.text-center#total-ants
              = @ant_point.total_ants
