%section#quick_navi_section
  .container
    .row
      .col-lg-4.col-md-4.col-sm-12
        %a.quick_btn{:href => new_need_path }
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_1.png')}
          %h2
            发需求
      .col-lg-4.col-md-4.col-sm-12.text-center
        %a.quick_btn{:href => queen_works_path }
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_2.png')}
          %h2
            搜案例
      .col-lg-4.col-md-4.col-sm-12
        %a.quick_btn.pull-right{:href => queens_path }
          .quick_btn_picture
            %img{:src => image_path('homepage/quick_icon_3.png')}
          %h2
            找蚁后
