        <div class="reduce-top-margin">
          <h1 class="no-border">They trusted us</h1>
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-2">
              <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                <img class="img-circle" src="img/w3w-logo.png" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
              <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                <img class="img-circle" src="img/w3w-logo-2.png" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
              <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                <img class="img-circle" src="img/w3w-logo-3.png" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
              <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                <img class="img-circle" src="img/w3w-logo-4.png" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
              <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                <img class="img-circle" src="img/w3w-logo.png" alt="...">
              </a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2">
              <a href="http://w3widget.com" class="thumbnail gallery-thumbnail">
                <img class="img-circle" src="img/w3w-logo-3.png" alt="...">
              </a>
            </div>
          </div>
        </div>