        <div class="row">
          <div class="col-md-5">
            <div class="thumbnail info-thumbnail color-text">
              <img src="img/neat-1.2.0.png" alt="...">
            </div>
          </div>
          <div class="col-md-7">
            <h1 class="no-border large text-left">Many possibilities</h1>
            <p class="lead text-left">Neat have many possible color combinations. You can easily re-color sections and individual elements by simply setting a background-* or color-* of your choice. You can even change menu background and choose from 5 pre-defined color scheme.</p>
          </div>
        </div>