        <h1><span>Our latest activities</span></h1>
        <div class="news">
          <a class="news-link" href="">
            <div class="media clearfix background-belize-hole color-white"<?php if (!isset($build)) echo ' data-control="class" data-class-prefix="media clearfix"' ?>>
              <div class="pull-left">
                <img class="media-object" src="img/img1.jpg" alt="...">
              </div>
              <div class="media-body">
                <h3 class="media-heading">Awesome news</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
              </div>
            </div>
          </a>
          <a class="news-link" href="">
            <div class="media clearfix background-belize-hole color-white"<?php if (!isset($build)) echo ' data-control="class" data-class-prefix="media clearfix"' ?>>
              <div class="pull-left">
                <img class="media-object" src="img/img2.jpg" alt="...">
              </div>
              <div class="media-body">
                <h3 class="media-heading">Some news</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
              </div>
            </div>
          </a>
          <a class="news-link" href="">
            <div class="media clearfix background-belize-hole color-white"<?php if (!isset($build)) echo ' data-control="class" data-class-prefix="media clearfix"' ?>>
              <div class="pull-left">
                <img class="media-object" src="img/img3.jpg" alt="...">
              </div>
              <div class="media-body">
                <h3 class="media-heading">News heading</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
              </div>
            </div>
          </a>
        </div>