        <h1 class="text-center x-large">Our Projects</h1>
        <p class="lead text-center">Thumbanil sorter is powered by <a href="http://mixitup.io">MixItUp</a> filter and sort plugin. It means you can sort or filter your thumbnails in any way you want. To know more don't hesitate to read the <a href="http://mixitup.io/#Documentation">documentation</a>.<br>And yes, you can use it on any thumbnail element, not only on services tiles.</p>
        <ul class="text-center filters">
            <li class="filter" data-filter="all"><a>All</a></li>
            <li class="filter" data-filter="cat1"><a>Category 1</a></li>
            <li class="filter" data-filter="cat2"><a>Category 2</a></li>
        </ul>
        <div id="mixit" class="row">
          <div class="col-sm-6 col-md-4 mix cat1">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round" src="img/gallery/g1.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mix cat2">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round"  src="img/gallery/g2.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mix cat1">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round"  src="img/gallery/g3.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mix cat1">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round"  src="img/gallery/g4.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mix cat2">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round"  src="img/gallery/g5.jpg" alt="...">
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mix cat2">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail color-text">
              <div class="service">
                <div class="service-name"><h3>Some title here</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh.</p><button class="btn btn-service">Read more</button></div>
              </div>
              <img class="round"  src="img/gallery/g6.jpg" alt="...">
            </div>
            </div>
          </div>
        </div>