        <h1><span>Registration alternative</span></h1>
        <div class="row">
          <div class="col-sm-12 col-md-offset-3 col-md-6">
            <div class="thumbnail info-thumbnail background-lead color-text">
              <div class="special background-lead color-white"><h3><span class="fa fa-user"></span> Registration</h3></div>
              <div class="caption bordered background-white">
                <form role="form">
                  <div class="form-group">
                    <label for="exampleInputName3">Name</label>
                    <input type="text" class="form-control" id="exampleInputName3" placeholder="Enter name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputSecondName3">Second name</label>
                    <input type="text" class="form-control" id="exampleInputSecondName3" placeholder="Enter secondname">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail13">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail13" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword13">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword13" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword23">Re-enter password</label>
                    <input type="password" class="form-control" id="exampleInputPassword23" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Register</button>
                  <button type="button" class="btn btn-link pull-right">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>