$navBgColor:#000;
$navWordColor:#fff;
//$mainBgColor:#ecf4f7;
$mainBgColor:#f3f3f3;
//$primaryColor:#5eb4e7;
$primaryColor:#f4613f;
body{
	font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none !important;
}

abbr[title], abbr[data-original-title] {
	border-bottom: none;
	text-decoration: none;
}



@mixin iconBg($img){
	background:url($img) scroll no-repeat;
}
@mixin inlineBlockEle($w,$h){
	display:inline-block;
	width:$w;
	height:$h;
}
@mixin inlineBlockIcon($img,$w,$h){
	@include inlineBlockEle($w,$h);
	@include iconBg($img);
}
.btn-ants{
	background-color:#f4613f;
	color:#fff;
	letter-spacing: 2px;
	font-size: 21px;
}
.btn-black{
	background-color:#000;
	color:#fff;
	letter-spacing: 2px;
	font-size: 21px;
}
.row h2 span{border-bottom:0px;}
.fixed-nav{
	position:fixed;
	width:100%;
	height:246px;
	top:0;
	z-index:100;
	border-top:1px solid #000;
	background:url(image_path('homepage/navtopbg.jpg'));
	&.affix{
		opacity:0.9
	}
}
.breadcrumb > li + li:before{
	content:' > ' ;
}
#nav-wrapper{
	background:url(image_path('homepage/navtopbg.jpg'));
}
.topNav{
	height:47px;
	.global_logo{
		padding:14px 0px 0px 9px;
		float: left;
	}
	.nav.navbar-nav{
		float:right;
		width:auto;
		line-height:46px;
		a{
			display: inline-block;
			color:$navWordColor;
		}
		img{
			height:20px;
		}
		img+a{
			padding-left:0;
		}
    img.icon_telephone{
      height: 23px;
    }
		li{
			color:$navWordColor;
			a{
        padding-top:14px;
        padding-bottom:12px;
				font-size:11px;
			}
      a.no_login{
        padding: 14px 8px 12px;
      }
			a:hover,a:focus{
				background-color: #333;
			}
		}
    li.phone_num{
      padding-top: 2px;
    }
		.badge{
			background-color:#f00
		}
	}

}
nav.navbar{
	height:199px;
	.nav_top_form{
		width:444px;
		height:120px;
		margin:0 auto;
		margin-top:30px;
		padding-top:19px;
		background:url(image_path('homepage/ants_logo.png')) scroll no-repeat;
		.navbar-form{
			margin-top:0px;
			height:60px;
			.input-group{
				display:table;
				margin:0 auto;
				.input-group-btn{
					.dropdown-toggle{
						background-color:#dedede;
					}
					span{
						color:#f75035;
					}
				}
				button.btn.btn-lg{
					border:none;
					background:none;
					color:#faa74a;
					font-size:24px;
				}
			}
		}
		.nav_quick_btn{
			margin:0 auto;
			margin-top:29px;
			width:346px;
			height:29px;
			background:url(image_path('homepage/nav_quick_btn_bg.png')) scroll no-repeat;
			a{
				@include inlineBlockEle(111px, 29px);
				color:white;
				font-size:14px;
				text-align:center;
				line-height:30px;
			}
		}
	}
}



section.ants_feature_section{
	&>.container{
		padding-top:75px;
	}
	h2{
		margin:0;
			font-weight:300;
			font-size:23px;
			letter-spacing:2px;
			i{
				color:$primaryColor;
			    font-style: normal;
			}
	}
	h4{
		margin-top:50px;
		height:28px;
		line-height:28px;
		font-size:20px;
		font-weight:300;
		color:#888;
		&>span{
		    vertical-align: bottom;
			display:inline-block;
			width:35px;
			height:28px;
			// verical-align:
			background:scroll no-repeat;
			&.featured_icon_1{
				background-image:url(image_path('homepage/features_icon_1a.png'));
			}
			&.featured_icon_2{
				background-image:url(image_path('homepage/features_icon_2a.png'));
			}
			&.featured_icon_3{
				background-image:url(image_path('homepage/features_icon_3a.png'));
			}
		}
	}

}
section.contact_section{
	height:320px;

	.container{
		padding:80px 0px 100px 32px;
		position:relative;
		h5{
			font-size:19px;
			font-weight:900;
			color:$primaryColor;
			text-indent: 100px;
		}
		.contact_popup{
			width:485px;
			height:452px;
			background:url(image_path('homepage/contact_now.png'));
		    right: -75px;
		    bottom:-100px;
		    position: absolute;
				background-size: 100% 100%;
		}
	}
}

section.partner_list{
	width:100%;
	height:200px;
	background-color:white;
	padding-top: 25px;
  margin-bottom: 70px;
	.owl-item{
		width:240px!important;
	}
	.parter_logo_container{
		width:1000px;
		margin:0 auto;
		.logo{
			// width:200px;
			// height:70px;
			display:inline-block;
			//float:left;
			margin-left: 28%;
			.logo-img{
				height: 100px;
				img{

					width: auto;
				}
			}
		}

		.owl-nav{
			width:100%;

			&>div{
				position:absolute;
				display: inline-block;
				width:5px;
				height:35px;
				// background-color:rgba(0,0,0,0.5);
				border-radius:3px;
				border: 1px solid #f4613f;
				box-shadow: 0 0 1px #f4613f;
				&:hover{
				}
			}
			.owl-prev{
				left: -70px;
				top:70px;
			}
			.owl-next{
			   right: -70px;
				 top:70px;
			}

		}
	}
}

.breadcrumbs-container{
	margin-top:0px !important;
	background-color:#2a292e;
	.container{
		padding:20px 0;
		ol.breadcrumb{
			padding:0px;
			&>li{
				color:white;
				font-size:19px;
				&:before{
					color:#999;
				}
				&>a{
					font-size:19px;
					color:#999;
				}
			}
		}

		ol>li>a{

		}
	}
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border-radius:10px;
}

/*append footer*/
footer.background-midnight-blue{
	padding-bottom: 0;
	background-color: #343337;
	&>.container{
		padding:40px;
		h6{
			width:112px;
		}
		h3{
			font-size:18px;
			color: #fff;
			border:none;
      font-weight: lighter;
		}
		.right-line{
	    height: 90px;
	    border-left: 1px solid gray;
	    position: absolute;
	    right: 40px;
	    top: 40px;
		}
		.nav-footer{
			line-height: 2;
			li,li a{
				font-size:14px;
				color:#888;
			}
		}

	}
	.footNav{
		height: 60px;
		line-height:60px;
		color: #999;
	}
}
.btn-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	input {
		padding: 0;
	}
}

.border-box {
	border: 1px solid black;
}

.glyphicon-heart,.glyphicon-share {
	border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
	font-size: 12px;
}

.btn-main-color {
	background: #f4613f;
	color: white;
}

.btn-big {
	padding: 10px 20px;
}

.txt-gray{
	margin-right: 10px;
	color: gray;
}

.btn-small {
	padding: 5px;
	font-size: 12px;
	border-radius: 4px;
}

.btn-edit {
	float: right;
	border: 1px solid gray;
	border-radius: 4px;
	box-shadow: 0 0 4px gray;
	color: black;
	margin-right: 37px;
}
