$mainBgColor:#ecf4f7;
$primaryColor:#5eb4e7;
.topNav{
	background-color:$mainBgColor;
	.nav{
		a{color:#7a849b}
		float:none;
		width:600px;
		line-height:48px;
	}

}
nav.navbar{
	height:80px;
	.navbar-form{
		height:60px;
		margin-top:16px;
		button.btn.btn-lg{
			border:none;
			background:none;
			color:#60b3e5;
			font-size:24px;
		}
	}
}

#blueimp-gallery-carousel{
	box-shadow:none;
	margin:4px auto;
}

section#quick_navi_section{
	min-height:400px;
	background:$mainBgColor;
	a.quick_btn{
		width:100%;
		height:100%;
		display:inline-block;
		border-radius:5px;
		box-shadow:1px 2px 20px #bcdae5;
		background-color:white;
		.quick_btn_picture{
			text-align:center;
			margin:50px 0px 20px 0px;
		}
		h2{
			border:0;
			color:#47525f;
			text-align:center;
			margin-bottom:50px;
			font-weight:900;
		}
		&:hover{
			text-decoration:none;
			h2{
				color:black;
			}
		}
	}
}

section.ants_index_section{
	min-height:400px;
	padding-top:80px;
	padding-bottom:50px;
	h2{
		font-weight:900;
		&>span{
			margin-right:20px;
			border:none;
			&>img{
				vertical-align:top;
			}
		}
	}
	p i{
		font-size:11px;
		color:#97a0af;
	}
	ul{
		list-style:none;
		margin:30px 0 0 0;
		padding:0;
		li{
			line-height:40px;
			color:#333;
			span.ants_index_list_icon{
				display:inline-block;
				margin-right:20px;
				width:12px;
				height:12px;
				background:url(image_path('homepage/ants_index_list_icon.png')) scroll no-repeat;
			}
		}
	}
}

section.product_list_section,.products_section{
	min-height:400px;
	background:$mainBgColor;
	.product_list_header{
		h2{
			font-weight:900;
			.product_list_header_icon{
				display:inline-block;
				width:38px;
				height:38px;
				background:url(image_path('homepage/show_cases_icon.png')) no-repeat scroll;
				vertical-align: top;
				border-bottom:0px;
			}
		}
		ul{
			margin-top:20px;
			li{
				a.nav-link{
					font-size:20px;
					color:#000;
					border-radius:0px;
					border-bottom:3px solid $mainBgColor;
					&.active{
						border-color:$primaryColor;
					}
					&:hover{
						background-color:transparent;
						border-color:$primaryColor;
					}
				}
			}
		}
	}
	.product{
		height:350px;
		
		.productBlock{
			width:98%;
			height:350px;
			border-radius:15px;
			background-color:#fff;
			border:1px solid #fff;
			padding:30px;
		}
		.thumbnail{
			float:left;
			width:68%;
			max-height:284px;
			overflow:hidden;
			img{
				width:343px;
			}
		}
		.caption{
			display:inline-block;
			width:28%;
			margin-left:15px;
			h3{
				font-size:18px;
			}
			.description{
				height:180px;
				div b{
					font-size:14px;
				}	
			}
			.btn{
				background-color:$primaryColor;
				border-color:$primaryColor;
			}
		}
	}
}

section.quick_startup_section{
	min-height:450px;
	span.flow_header_icon{
		vertical-align: top;
		display:inline-block;
		border-bottom:0px;
		width:30px;
		height:30px;
		background:url(image_path('homepage/flow_header_icon.png')) scroll no-repeat;
	}
	h2{
		font-weight:bold;
		margin-bottom:40px;
	}
	.quick_startup_steps{
		width:95%;
		height:200px;
		.quick_startup_icon{
			width:100%;
			height:70px;

		}
		h4{
			font-size:22px;
			font-weight:900;
		}
		h6{
			color:#888;
			width:80%;
			font-size:18px;
			line-height:30px;
			word-space:3px;
			height:70px;
		}
		.steps_index_icon{
			width:40px;
			height:40px;
			border-radius:20px;
			background-color:$mainBgColor;
			line-height:40px;
			color:$primaryColor;
			font-family:'Times New Roman', Times, serif;
			transition:background-color 1s,color 1s;
		}
		&:hover{
			.steps_index_icon{
				background-color:$primaryColor;
				color:white;
			}
		}
	}
}
section.ants_list{
	min-height:500px;
	background-color:$mainBgColor;
	h2{
		font-weight:900;
		span.queen_header_icon{
			vertical-align: top;
			display:inline-block;
			border-bottom:0px;
			width:30px;
			height:30px;
			background:url(image_path('homepage/queens_header_icon.png')) no-repeat scroll;
		}
	}
	.ants_list_block{
		div.thumbnail.gallery-thumbnail{
			margin:0px;
			.ants_queen_contact_card{
				display:none;
				position:relative;
				z-index:99;
				margin:-15px auto 0px auto;
				width:60%;
				height:85px;
				border-radius:5px;
				background-color:white;
				box-shadow:1px 1px 3px #ccc;
				padding-top:10px;
				h6{
					font-size:18px;
					margin:0px;
				}
				a.btn{
					margin-top:10px;
					border:0px;
					width:90px;
					background-color:$primaryColor;
				}
			}
			&:hover{
				.ants_queen_contact_card{
					display: block;
				}
			}
		}
		
	}

}
section.ants_feature_section{
	min-height:200px;
	background-color:white;
	h2{
		font-weight:bold;

		i{
			color:$primaryColor;
		    font-style: normal;
		}
	}
	h4{
		height:40px;
		line-height:40px;
		font-size:20px;
		font-weight:600;
		color:#888;
		&>span{
		    vertical-align: bottom;
			display:inline-block;
			width:40px;
			height:40px;
			// verical-align:
			background:scroll no-repeat;
			&.featured_icon_1{
				background-image:url(image_path('homepage/features_icon_1.png'));
			}
			&.featured_icon_2{
				background-image:url(image_path('homepage/features_icon_2.png'));
			}
			&.featured_icon_3{
				background-image:url(image_path('homepage/features_icon_3.png'));
			}
		}
	}

}
section.contact_section{
	min-height:200px;
	background-color:$mainBgColor;
	padding-top:80px;
	h5{
		font-size:24px;
		font-weight:900;
	}
	.btn-primary{
		box-shadow:2px 0px 5px $primaryColor;
		width:200px;
		background-color:$primaryColor;
		border-color:$primaryColor;
	}
}

.background-clouds .breadcrumbs-container{
	padding:20px 0;
	background-color:#383f49;
	margin-top:0px;
	ol.breadcrumb{
		padding:0px;
		&>li{
			color:white;
			&:before{
				color:#999;
			}
			&>a{
				color:#999;
			}
		}
	}

	ol>li>a{
		
	}
}