$navBgColor:#000;
$navWordColor:#fff;
//$mainBgColor:#ecf4f7;
$mainBgColor:#f3f3f3;
//$primaryColor:#5eb4e7;
$primaryColor:#f4613f;
body{
	font-family: "Microsoft YaHei","Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none !important;
}

abbr[title], abbr[data-original-title] {
	border-bottom: none;
	text-decoration: none;
}



@mixin iconBg($img){
	background:url($img) scroll no-repeat;
}
@mixin inlineBlockEle($w,$h){
	display:inline-block;
	width:$w;
	height:$h;
}
@mixin inlineBlockIcon($img,$w,$h){
	@include inlineBlockEle($w,$h);
	@include iconBg($img);
}
.btn-ants{
	background-color:#f4613f;
	color:#fff;
	letter-spacing: 2px;
	font-size: 21px;
}
.btn-black{
	background-color:#000;
	color:#fff;
	letter-spacing: 2px;
	font-size: 21px;
}
.row h2 span{border-bottom:0px;}
.sticky-nav{
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 100;
	border-top: 1px solid #000;
}
.fixed-nav{
	position:fixed;
	width:100%;
	// height:246px;
	top:0;
	z-index:100;
	border-top:1px solid #000;
	//opacity:0.9;
	//background:url(image_path('homepage/navtopbg.jpg'));
	&.affix{
		//opacity:0.9
	}
}
.breadcrumb > li + li:before{
	content:' > ' ;
}
#nav-wrapper{
	//background:url(image_path('homepage/navtopbg.jpg'));
}
.topNav.topNav_1{
	background: rgba(255,255,255,0.9);
	a{
		color:#000;
	}
}
.topNav{
	height:90px;
	//background: rgba(255,255,255,0.9);
	a{
		color: #fff;
	}

	.search_queen-box{
		display: inline-block;
		float: right;
		position: relative;
		top: 20px;
	}
	.global_logo{
		padding:14px 0px 0px 9px;
		float: left;
		.img_all{
			width: 124px;
		}
		.nav_quick_btn{
			display: inline-block;
			position: relative;
			top: 8px;
			a{
				display: inline-block;
				position: relative;
				width: 80px;
				//color: $navBgColor;
				font-size: 14px;
				letter-spacing: 5px;
			}
			a:nth-of-type(1){
				width: 20px;
			}
			.a_border:after{
				position: absolute;
				top: 2px;left: 68px;
				content: "";
				height: 15px;
				width: 1px;
				border: 1px solid #fff;
			}
			.border_black:after{
				position: absolute;
				top: 2px;left: 68px;
				content: "";
				height: 15px;
				width: 1px;
				border: 1px solid #000;
			}

		}

	}
	.text-black{
		color: #000!important;
	}
	.nav.navbar-nav{
		float:right;
		width:auto;
		line-height:87px;
		a{
			display: inline-block;
			//color:$navBgColor;
		}
		img{
			height:20px;
		}
		img+a{
			padding-left:0;
		}
    img.icon_telephone{
      height: 23px;
    }
		li{
			color:$navWordColor;
			a{
        padding-top:14px;
        padding-bottom:12px;
				font-size:11px;
			}
      a.no_login{
        padding: 14px 8px 12px;
				.new{
					display: none;
				}
      }
			a:hover,a:focus{
				//background-color: #333;
			}
		}
    li.phone_num{
      padding-top: 2px;
    }
		.badge{
			background-color:#f00
		}
	}

}
nav.navbar{
	height:199px;
	.nav_top_form{
		width:444px;
		height:120px;
		margin:0 auto;
		margin-top:30px;
		padding-top:19px;
		background:url(image_path('homepage/ants_logo.png')) scroll no-repeat;
		.navbar-form{
			margin-top:0px;
			height:60px;
			.input-group{
				display:table;
				margin:0 auto;
				.input-group-btn{
					.dropdown-toggle{
						background-color:#dedede;
					}
					span{
						color:#f75035;
					}
				}
				button.btn.btn-lg{
					border:none;
					background:none;
					color:#faa74a;
					font-size:24px;
				}
			}
		}
		.nav_quick_btn{
			margin:0 auto;
			margin-top:29px;
			width:346px;
			height:29px;
			background:url(image_path('homepage/nav_quick_btn_bg.png')) scroll no-repeat;
			a{
				@include inlineBlockEle(111px, 29px);
				color:white;
				font-size:14px;
				text-align:center;
				line-height:30px;
			}
		}
	}
}



section.ants_feature_section{
	&>.container{
		padding-top:75px;
	}
	h2{
		margin:0;
			font-weight:300;
			font-size:23px;
			letter-spacing:2px;
			i{
				color:$primaryColor;
			    font-style: normal;
			}
	}
	h4{
		margin-top:50px;
		height:28px;
		line-height:28px;
		font-size:20px;
		font-weight:300;
		color:#888;
		&>span{
		    vertical-align: bottom;
			display:inline-block;
			width:35px;
			height:28px;
			// verical-align:
			background:scroll no-repeat;
			&.featured_icon_1{
				background-image:url(image_path('homepage/new_features_icon_1a.png'));
			}
			&.featured_icon_2{
				background-image:url(image_path('homepage/new_features_icon_2a.png'));
			}
			&.featured_icon_3{
				background-image:url(image_path('homepage/new_features_icon_3a.png'));
			}
		}
	}

}

section.contact_section,section.contact_section_1{
	//height:250px;
	//margin-top: 20px;
	padding: 0;

	.container{
		padding:80px 0px 100px 32px;
		position:relative;
		background: #fff;
		h5{
			font-size:19px;
			font-weight:900;
			text-indent: 100px;
			span{
				color:$primaryColor;
			}
		}
		.contact_popup{
			width:321px;
			height:175px;
			background:url(image_path('homepage/QQ.png'));
		    right: 50px;
		    bottom:0;
		    position: absolute;
				background-size: 100% 100%;
				margin-bottom: 20px;
		}
	}
}

section.contact_section_1{
	.container{
		padding:80px 0px 100px 32px;
		position:relative;
		background: transparent;
	}
}

section.partner_list{
	width:100%;
	//height:200px;
	//background-color:white;
	//padding-top: 25px;
	width: 1170px;
	margin: 50px auto 0;
	background: #fff;
  // margin-bottom: 70px;
	p.parter-txt{
		position: relative;
		text-align: center;
		font-size: 23px;
		color: #919191;
		margin-bottom: 30px;
		letter-spacing: 5px;
	}
	.parter-txt::before{
		position: absolute;
		top: 13px;
		left: 395px;
		width: 100px;
		content: "";
		height: 2px;
		border: 1px solid #919191;
	}
	.parter-txt::after{
		position: absolute;
		top: 13px;
		right: 395px;
		width: 100px;
		content: "";
		height: 2px;
		border: 1px solid #919191;
	}
	.owl-item{
		width:240px!important;
	}
	.parter_logo_container{
		//width:1170px;
		margin:0 auto;
		//background: #fff;
		padding-top: 25px;
		.logo{
			// width:200px;
			// height:70px;
			display:inline-block;
			//float:left;
			margin-left: 28%;
			.logo-img{
				height: 100px;
				width: 170px;
				img{

					width: auto;
				}
			}
		}

		.owl-nav{
			width:100%;

			&>div{
				position:absolute;
				display: inline-block;
				width:5px;
				height:35px;
				// background-color:rgba(0,0,0,0.5);
				border-radius:3px;
				border: 1px solid #f4613f;
				box-shadow: 0 0 1px #f4613f;
				&:hover{
				}
			}
			.owl-prev{
				left: 10px;
				top:70px;
			}
			.owl-next{
			   right: 10px;
				 top:70px;
			}

		}
	}
}

.breadcrumbs-container{
	margin-top:0px !important;
	background-color:#737373;
	.container{
		padding:20px 0;
		ol.breadcrumb{
			padding:0px;
			&>li{
				color:white;
				font-size:19px;
				&:before{
					color:#999;
				}
				&>a{
					font-size:19px;
					color:#999;
				}
			}
		}

		ol>li>a{

		}
	}
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border-radius:10px;
}

/*append footer*/
footer.background-midnight-blue{
	padding-bottom: 0;
	background-color: #343337;
	&>.container{
		padding:40px;
		h6{
			width:112px;
		}
		h3{
			font-size:18px;
			color: #fff;
			border:none;
      font-weight: lighter;
		}
		.right-line{
	    height: 90px;
	    border-left: 1px solid gray;
	    position: absolute;
	    right: 40px;
	    top: 40px;
		}
		.nav-footer{
			line-height: 2;
			li,li a{
				font-size:14px;
				color:#888;
			}
		}

	}
	.footNav{
		height: 60px;
		line-height:60px;
		color: #999;
	}
}
.btn-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	input {
		padding: 0;
	}
}

.border-box {
	border: 1px solid black;
}

.glyphicon-heart,.glyphicon-share {
	border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
	font-size: 12px;
}

.btn-main-color {
	background: #f4613f;
	color: white;
}

.btn-big {
	padding: 10px 20px;
}

.txt-gray{
	margin-right: 10px;
	color: gray;
}

.btn-small {
	padding: 5px;
	font-size: 12px;
	border-radius: 4px;
}

.btn-edit {
	float: right;
	border: 1px solid gray;
	border-radius: 4px;
	box-shadow: 0 0 4px gray;
	color: black;
	margin-right: 37px;
}

.color-gray.col-md-4 {
	padding: 0 35px;
}

.color-gray .thumbnail {
	margin-bottom: 50px;
	padding: 15px;
	background: #ddd;
	box-shadow: 0 0 8px gray;
}

.color-gray .thumbnail>img{
	width: 100%;
	height: 170px;
}

.color-gray .thumbnail p:nth-last-of-type(1) img {
	width: 20px;
	height: 20px;
	vertical-align: sub;
}

.p-box {
	position: relative;
	top: 5px;
	color: black;

	p {
		margin-bottom: 5px;

		&:nth-of-type(1) {
			margin-top: 10px;
			margin-bottom: 15px;
		}
	}

	p:nth-last-of-type(1) {
		position: absolute;
		right: 5px;top: 0;

		span:nth-of-type(1) {
			margin-right: 10px;
		}
	}

	.div {
		margin: 10px 0;
		text-align: center;
	}
}

.new-product-btn {
	position: relative;
	left: 45%;
	margin: 30px auto;
}
section{
	padding: 40px 0 10px;
}

#quick_navi_data_section{
	margin-top: 80px;
	padding-bottom: 0;
}

.btn-register input {
	padding: 0;
}

.padd-top {
	padding-top: 20px;
	padding-bottom: 30px;
}
.background-gray {
	background-color: #e0e0e0;
}

.col-md-2 h3 a{
	color: #fff;
}


//teach.css
.teach-box{
	margin-top: 20px;
	.teach-nav{
		padding: 10px 10px 0;
		width: 225px;
	  color: #000;
		text-align: center;
		border: 1px solid #e1e1e1;
		box-shadow: 0 0 5px #e1e1e1;
		float: left;
		ul{
			padding: 0;
		}

		li{
			list-style: none;
			height: 30px;
			line-height: 30px;
			cursor: pointer;
			h3{
				margin-top: 5px;
				margin-bottom: 0;
				height: 30px;
				border-bottom: 1px solid #000;
				font-size: 20px;
			}
		}

		.sec-nav{
			padding: 0;

			a{
				display: block;
				padding: 0;
				border-bottom: 1px dashed #000;
				height: 30px;
				line-height: 30px;
				color: #000;
			}



			.last-li{
				border-bottom: 1px solid #000;
			}
			.lasted-li{
				border: 0;
			}
		}
	}

	.content-box{
		margin-left: 225px;
		padding: 30px 50px 40px;
		border: 1px solid #e1e1e1;
		box-shadow: 0 0 5px #e1e1e1;

		.content-noborder{
			position: relative;
			color: #7c7c7c;
			padding:10px 0 30px;
			margin-bottom: 20px;

			.rule-page {
				p{
					margin-top: 20px;
				}
			}

			.rule-next-page{
				position: absolute;
				bottom: 0px;
				right: 20px;
			}

			.rule-last-page{
				display: none;
				position: absolute;
				bottom: 0px;
				left: 20px;
			}
			.page_2,.page_3,.page_4,.page_5,.page_6,.page_7,.page_8{
				display: none;
			}
			.owner-img{
				width: 100%;
			}
			.intro-img{
				position: relative;
				width: 100%;
				background: url(image_path('queens/btm.png')) repeat;
				height: 285px;
				background-size: 100% 100%;
				.mask{
					position: absolute;
					width: 100%;
					height: 100px;
					line-height: 100px;
					background:rgba(0,0,0,0.3);
					color: #fff;
					text-align: center;
					font-size: 20px;
				}
			}
			.owner-p{
				margin-top: 20px;
			}

		}
		h4{
			text-align: center;
		}
		.content{
			border-bottom: 1px dashed #7c7c7c;
			color: #7c7c7c;
			padding:10px 0 30px;
			margin-bottom: 20px;

			.custom{
				display: flex;
				justify-content: space-around;
			}

			h5{
				font-size: 18px;
				color: #295e91;
			}
		}
	}
}
