// Place all the styles related to the complains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.complain-container{
  margin-left: 225px;
  padding: 30px 50px 40px;
  -webkit-box-shadow: #e1e1e1 0px 0px 10px;
  -moz-box-shadow: #e1e1e1 0px 0px 10px;
  box-shadow: #e1e1e1 0px 0px 10px;
  .complain-list{
    .complain-cell{
      margin: 20px auto;
      border: 1px solid #cccccc;
      .list-title{
        border-bottom: 1px dashed #cccccc;
        padding: 5px 0px 5px 25px;
      }
      .list-content{
        padding: 5px 5px 5px 25px;
        span{
          display: block;
        }
      }
    }
  }
  .complain-form{
    .form-container{
      margin: 20px auto;
      padding: 0px 30px;
      background-color: #f4f4f4;
      border: 1px solid #cccccc;
      div{
        margin: 10px auto;
      }
      .submit{
        text-align: right;
      }
    }
  }
}

.complain-title{
  background-color: #f4f4f4;
  height: 45px;
  border: 1px solid #cccccc;
  padding-left: 20px;
  h3{
    line-height: 5px;
  }
}
