// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products_section{

}

.needs_form_section,.products_section{
	h3{
		font-size:20px;
		font-weight:600;
		border-bottom:1px solid #ccc;
		height:30px;
	}
	.new_need>.container,
	.edit_need>.container{
		&>.row{
			margin-top:30px;
		}
		.desc_textarea{
			height:120px;
		}
		h5.project_tags_header{
			font-size:16px;
		}
		.project_tags_block{
			// background-color:white;
			// border-radius:15px;
			// padding:10px 0px;
			// margin:10px 0px 20px 0px;
			.tag_row{
				width:100%;
				height:38px;
				border-bottom:2px dashed #ccc;
			}
			.col-sm-1,.col-sm-11{
				height:40px;
			}
			.tags_title>h6{
				text-align:right;
				font-size:16px;
				font-weight:bold;
				height:40px;
				margin:0;
				line-height:40px;
			}
			.tags_list{
				span{
					line-height:40px;
					margin-right:5px;
				}
				label{
					font-weight:normal;
				}
			}
		}
		.form_submit_block{
			margin-top:20px;
		}
	}
}

.hide-box {
	display: none;
	padding-bottom: 65px;
	position: absolute;
	top: 75px;
	width: 100%;
	border-radius: 4px;
	width: 105%;
  left: 50%;
  transform: translateX(-50%);
	z-index: 999;
	background-color: rgba(0,0,0,0.5);

	.selected_case_list {
		background-color: none;

	}

	.close-hide {
		position: absolute;
		top: 0;right: 20px;
		font-size: 25px;
		color: white;
		cursor: pointer;
		z-index: 999;
	}

	.select-tab {
		position: absolute;
		top: -40px;
		left: 0;
		background: rgba(0,0,0,0.7);
		padding: 10px 20px;
		border-radius: 4px;
		cursor: pointer;

		span {
			color: white;
			display: inline-block;
			width: 70px;
		}

	}
	#chooseCase {
		margin-top: 40px;
	}
}

.selected_queen_list {
	background: white;
}
.selected_queen_list, .selected_case_list{

	position: relative;
	border-radius:10px;
	overflow: hidden;


	.queen {
		position: relative;

		.delete_btn {
			padding: 4px 10px;
			position: absolute;
			top: 0;right: 0;
			border: 1px solid #f4613f;
			border-radius: 50%;
			background: #f4613f;
			color: white;
		}
	}

	.queen_list_box {
		display: inline-block;

		.col-case-and-queen {
			margin-left: 30px;
		}
	}

	.btn-left,.btn-right {
		display: none;
		position: absolute;
		top: 50px;
		width: 7px;
		height: 35px;
		border: 1px solid #f4613f;
		box-shadow: 0 0 3px #f4613f;
		border-radius: 25%;
	}

	.btn-right {
		right:20px
	}

	.btn-left {
		left: 20px;
	}

	.col-md-1,.col-case-and-queen {
		margin-left: 10px;
		a.queen{
			@include inlineBlockEle(100px,130px);
			margin-top:20px;
			padding-top:10px;
			text-align:center;
			// border:1px solid white;
			color:#333;
			.delete_btn{
				display:none;
			}
			img{
				width:80px;
			}
			&:hover{
				text-decoration:none;
				// border-color:$primaryColor;
			}
			&.selected{
				// border-color:$primaryColor;
				.delete_btn{display:block}
			}
		}
	}
}

.select_case{
	.caseSelector{
		width:100%
	}
}

.select_queen{
	.queenSelector{
		width:100%;
	}
}
.select2-result-repository{
	.select2-result-repository__avatar{
		display:inline-block;
		width:80px;
		img{
			width:60px;
		}
	}
	.select2-result-repository__meta{
		display:inline-block;
		width:300px;
		.select2-result-repository__title{

		}
	}
}

.fav-product{
	a.add-product{display:none}
	&:hover{
		a.add-product{display:block}
	}
}

div.box .edit-box {
	position: relative;
  // padding: 0 25px;
	.btn-left,.btn-right {
		top: 93px;
	}

	h5 {
		padding: 0 15px;
		// margin-left: -10px;
	}

	.col-case:nth-child(1) {
		margin-left: 30px;
	}
}

.fav-product img {
	border: 1px solid red;
}

#case-bookmark {
	position: relative;
	padding: 0 50px 0 50px;
	margin-top: 50px;
	display: none;
	 .btn-right, .btn-left {
		display: block;
		top: 25px;
		z-index: 999;
	}

	.row {
		overflow: hidden;
	}
}

#case-bookmark.has-pane {
	padding: 0;
}

.case-list {
	ul {
		padding: 0 15px;
		font-size: 14px;

		.add-case {
			color:#f4613f;
			border-bottom: 1px dashed #ccc;
			cursor: pointer;
		}
	}
	li {
		list-style: none;
		color: #666;
		border-bottom: 1px dashed #666;
		line-height: 35px;

		span:nth-last-of-type(1) {
			float: right;
		}
	}
// .test-box{
// 	position: relative;
// }
.congratulate-container{
  width: 80%;
  text-align: center;
  margin: 40px auto;
	padding: 80px 0;
  a{
    display: block;
		margin: 40px auto 0;
    width: 155px;
    height: 45px;
		font-size: 18px;
  }
  p{
    font-size: 18px;
    font-weight: bold;
  }
}
