// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.needs_form_section,.products_section{
	background-color:$mainBgColor;
	h1{
		font-weight:900;
	}
	.container{
		.desc_textarea{
			height:120px;
		}
		h5.project_tags_header{
			font-size:16px;
		}
		.project_tags_block{
			ul.nav.nav-tabs{
				width:10%;
				float:left;
				border-bottom:0px;
				li{
					margin-top:0px;
					margin-bottom:4px;
					a{
						margin-right:0px;
						border:0px;
						border-top-right-radius:0px;
						border-bottom-right-radius:0px;
						background-color:#d9e9ef;
						text-align:center;
						&:hover{
							// background
						}
					}
					&.active{
						a{
							background-color:white;
							color:#000;
						}
					}
				}
			}
			.tab-content{
				float:right;
				width:90%;
				height:364px;
				background-color:white;
				padding:50px;
				span.tag{
					margin-right:20px;
				}
			}
		}
		.form_submit_block{
			margin-top:20px;
		}
	}
}
.selected_queen_list{
	background-color:white;
	border-radius:10px;
	height:200px;
	min-height:200px;
	.col-md-2{
		a.queen{
			@include inlineBlockEle(100px,130px);
			margin-top:20px;
			padding-top:10px;
			text-align:center;
			border:1px solid white;
			color:#333;
			.delete_btn{
				display:none;
			}
			img{
				width:80px;
			}
			&:hover{
				text-decoration:none;
				border-color:$primaryColor;
			}
			&.selected{
				border-color:$primaryColor;
				.delete_btn{display:block}
			}
		}
	}
}

.select_queen{
	.queenSelector{
		width:100%;
	}

}
.select2-result-repository{
	.select2-result-repository__avatar{
		display:inline-block;
		width:80px;
		img{
			width:60px;
		}
	}
	.select2-result-repository__meta{
		display:inline-block;
		width:300px;
		.select2-result-repository__title{

		}
	}
}
