// Place all the styles related to the Needs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products_section{

}

.needs_form_section,.products_section{
	h3{
		font-size:20px;
		font-weight:600;
		border-bottom:1px solid #ccc;
		height:30px;
	}
	.new_need>.container,
	.edit_need>.container{
		&>.row{
			margin-top:30px;
		}
		.desc_textarea{
			height:120px;
		}
		h5.project_tags_header{
			font-size:16px;
		}
		.project_tags_block{
			// background-color:white;
			// border-radius:15px;
			// padding:10px 0px;
			// margin:10px 0px 20px 0px;
			.tag_row{
				width:100%;
				height:38px;
				border-bottom:2px dashed #ccc;
			}
			.col-sm-1,.col-sm-11{
				height:40px;
			}
			.tags_title>h6{
				text-align:right;
				font-size:16px;
				font-weight:bold;
				height:40px;
				margin:0;
				line-height:40px;
			}
			.tags_list{
				span{
					line-height:40px;
					margin-right:5px;
				}
				label{
					font-weight:normal;
				}
			}
		}
		.form_submit_block{
			margin-top:20px;
		}
	}
}
.selected_queen_list, .selected_case_list{
	background-color:white;
	border-radius:10px;

	.col-md-2{
		a.queen{
			@include inlineBlockEle(100px,130px);
			margin-top:20px;
			padding-top:10px;
			text-align:center;
			border:1px solid white;
			color:#333;
			.delete_btn{
				display:none;
			}
			img{
				width:80px;
			}
			&:hover{
				text-decoration:none;
				border-color:$primaryColor;
			}
			&.selected{
				border-color:$primaryColor;
				.delete_btn{display:block}
			}
		}
	}
}

.select_case{
	.caseSelector{
		width:100%
	}
}

.select_queen{
	.queenSelector{
		width:100%;
	}
}
.select2-result-repository{
	.select2-result-repository__avatar{
		display:inline-block;
		width:80px;
		img{
			width:60px;
		}
	}
	.select2-result-repository__meta{
		display:inline-block;
		width:300px;
		.select2-result-repository__title{

		}
	}
}

.fav-product{
	a.add-product{display:none}
	&:hover{
		a.add-product{display:block}
	}
}
