section.queens_work_slider{
	padding:0px;
	#blueimp-gallery-carousel{
		margin:0;
	}
}
section.queens_work_title{
	padding:0;
	height:40px;
	margin-top:-40px;
	background: transparent;
	.container{
		
		background-color:rgba(0,0,0,.5);
	}
	.col-md-10{
		p{
			line-height:40px;
			color:white;
			font-size:24px;
			margin-bottom:0px;
		}
	}
	.col-md-2{
		&>a{
			margin-top:10px;
		    display: inline-block;
		}
		span.like_icon{
			@include inlineBlockIcon(image_path("queens_work/like_sprite.png"),24px,20px);
			&.liked{
				background-position:-24px 0px;
			}
		}
		a.share_icon{
			@include inlineBlockIcon(image_path("queens_work/share_icon.png"),20px,20px);
			margin-left:25px;
		}
		.jiathis_style{
			display:inline;
		}
	}
}
.queen_words_bookmark{
	line-height:30px;
	a{
		line-height:30px;
		color:white;
		font-size:20px;
		vertical-align: top;
		&:hover{
			color:white;
			text-decoration:none
		}
	}
	span.bookmark_icon{
		@include inlineBlockIcon(image_path("queens_work/bookmark_sprite.png"),21px,20px);
		margin-right:10px;
	    margin-top: 3px;
		&.unbookmark{
			background-position:-22px 0px;
		}
	}
	strong{
		color:white;
		font-size:20px;
		font-weight:bold;
	}
}

section.queens_work_desc{
	padding:0;
	.container{
		padding:40px 0px;
		h2{
			margin-bottom:30px;
			span.desc_title_icon{
				@include inlineBlockIcon(image_path("queens_work/desc_title_icon.png"),22px,30px)
			}
		}
		p{
			text-indent:2em;
			&.ref_price>strong{
				color:$primaryColor
			}
		}
		
	}
}



section.queens_work_queen,section.queens_work_client{
	.container{
		.avatar_wapper{
			margin-bottom:15px;
			img{
				width:120px;
				box-shadow:1px 2px 3px 3px rgba(0,0,0,.1);
			}
		} 
		.width-15{
			display:inline-block;
			width:14%;
		}
		.width-35{
			display:inline-block;
			width:33%;
		}
		
	}
}

section.queens_work_queen{
	padding:0px;
	.container{
		padding:40px 0px;
		background-color:#ecf4f7;
		.row{
			.col-md-2{
				.img-circle{
					
				}
			}
			.col-md-10 .clientStarAndLike{
				width:98%;
				margin-right:20px;
				height:150px;
				background-color:white;
				border-radius:10px;
				float:right;
				&:before{
					display:inline-block;
					content:" ";
					background-color:white;
					width:20px;
					height:20px;
					transform: rotate(45deg);
					position:relative;
					top: 60px;
					left: -10px;
					vertical-align: top;
				}
				div{
					vertical-align:top;
					height:150px;
					&.width-15{
						line-height:140px;
					}
					&.width-35{
						line-height:150px;
						p{
							font-size:18px;
							font-weight:bold;
							color:#666;
							line-height:28px;
							&.margin-top-20{
								margin-top:20px;
							}
							&>span{
								margin-left:5px;
							}
							span>span{
								// margin-right:1px;
								vertical-align: middle;
								@include inlineBlockIcon(image_path("queens_work/like_sprite.png"),24px,20px);
								background-position:-24px 0px;
							}
						}
					}
				}
				h4{
					font-size:20px;
					font-weight:900;
					color:$primaryColor;
					height: 100%;
				    line-height: 140px;
				}
				.like-num{
					color:$primaryColor;
					font-size:32px;
				}
			}
		}
	}
}

section.queens_work_likes{
	.container{
		padding:40px 0px;
		h4{
			font-weight:bold;
			margin-bottom:20px;
			text-indent:1em;
		}
		.liked-histroy, .recommend-case{
			width:100%;
			.avatar-warpper{
				display:inline-block;
				width:24%;
				text-align:center;
				.img-circle{
					width:95px;
				}
			}
		}
	}
}


// 个人中心，新建、编辑页面 样式

.fileupload-buttonbar{
	.progress{
		display:none;
	}
	&.active{
		.progress{
			display:block
		}
	}
}
