section.queens_work_slider{
	padding:0 0 90px 0;
	min-height:400px;
	background-color: #2a292e;
	img{
	    box-shadow: 0px 0px 5px #000;
	}
	#caseVideo{
		width:100%;
		height:100%;
	}
	a.queenWorkVideoPlay{
		display:none;
		width:100px;
		height:100px;
		position: absolute;
	    top: 50%;
	    left: 50%;
	    z-index: 100;
    	margin-top:-50px;
    	margin-left:-50px;
	    span{
		    font-size:60px;
	    }
	}
	&:hover{
		a.queenWorkVideoPlay{
			display:block;
		}
	}
}
section.queens_work_title{
	padding:0;
	height:103px;
	margin-top:-59px;

	.container{
		border-radius:5px;
		background-color:$primaryColor;
		height:103px;
	    width: 1060px;
		padding:0 55px;
	}
	.col-md-10{
		p{
			height:103px;
			line-height:103px;
			color:white;
			font-size:20px;
			margin-bottom:0px;
		}
	}
	.col-md-2{
		p{
			height:103px;
			line-height:103px;
		}
		&>a{
			margin-top:10px;
		    display: inline-block;
		}
		text-align:right;
		span.like_icon{
			@include inlineBlockIcon(image_path("queens_work/like_sprite.png"),24px,20px);
			&.liked{
				background-position:-24px 0px;
			}
		}
		a.share_icon{
			@include inlineBlockIcon(image_path("queens_work/share_icon.png"),20px,20px);
			margin-left:25px;
		}
		.jiathis_style{
			display:inline;
		}
	}
}
.queen_words_bookmark{
	line-height:30px;
	a{
		line-height:30px;
		color:white;
		font-size:19px;
		vertical-align: top;
		&:hover{
			color:white;
			text-decoration:none
		}
	}
	span.bookmark_icon{
		@include inlineBlockIcon(image_path("queens_work/bookmark_sprite.png"),16px,15px);
	    margin-top: 7px;
		&.unbookmark{
			background-position:-16px 0px;
		}
	}
	strong{
		color:white;
		font-size:20px;
		font-weight:bold;
	}
}

section.queens_work_desc{
	padding:0;
	.container{
		padding:40px 0px;
		h2{
			padding-left:13px;
			margin:0;
			margin-bottom:30px;
			height:32px;
			line-height:32px;
			font-weight:bold;
			font-size:21px;
			span.desc_title_icon{
				vertical-align: top;
				line-height:50px;
				@include inlineBlockIcon(image_path("queens_work/desc_title_icon.png"),22px,30px)
			}

		}
		p{
			text-indent:2em;
			font-size:18px;
			line-height:40px;
		    width: 93%;
		    margin: 0 auto;
			&.ref_price>strong{
				color:$primaryColor
			}
		}

	}
}



section.queens_work_queen,section.queens_work_client{
	.container{

		.avatar_wapper{
			margin-bottom:15px;
			img{
				width:108px;
				height:108px;
				box-shadow:1px 2px 3px 3px rgba(0,0,0,.1);
			}
		}
		.width-15{
			display:inline-block;
			width:14%;
		}
		.width-35{
			display:inline-block;
			width:33%;
		}

	}
}

section.queens_work_queen{
	padding:0px;

	.container{
		border:1px solid #ccc;
		border-radius:5px;
		padding:50px;
		width: 1060px;
		.row{
			.col-md-2.queens_work_queen_info{
				p strong{
					font-size:14px;
				}
			}
			.queens_work_queen_name{
				p{
					height:120px;
					line-height:120px;
				}
			}

			.col-md-8 .clientStarAndLike{
				width:96%;
				height:110px;

				float:right;

				div{
					vertical-align:top;
					height:142px;
					&.width-15{
						line-height:140px;
						margin-top: 16px;
					}
					&.width-35{
						line-height:75px;
						margin-top: 16px;
						p{
							font-size:14px;
							font-weight:bold;
							color:#666;
							line-height:20px;
							&.margin-top-20{
								margin-top:20px;
							}
							&>span{
								margin-left:5px;
							}
							span>span{
								// margin-right:1px;
								vertical-align: middle;
								@include inlineBlockIcon(image_path("queens_work/like_sprite1.png"),16px,13px);
								background-position:-16px 0px;
							}
						}
					}
				}
				h4{
					font-size:14px;
					font-weight:900;
					color:$primaryColor;
				    line-height: 64px;
				    text-align:center;
				}
				.like-num{
					color:$primaryColor;
					font-size:32px;
				}
			}
		}
	}
}

section.queens_work_likes{
	margin-top:110px;
	height:336px;
	background:$primaryColor url(image_path('queens_work/likes_bg.jpg')) scroll no-repeat;
	.container{
		padding:22px 0px 50px 0px;
		h4{
			font-weight:bold;
			margin:0px;
			margin-bottom:36px;
			text-indent:1em;
			font-size:16px;
			color:white;
		}
		.liked-histroy, .recommend-case{
			width:100%;
			.avatar-warpper{
				display:inline-block;
				width:24%;
				text-align:center;
				.img-circle{
					width:65px;
				}
			}
		}
	}
}

.video-play {
	width: 100px;
	height: 100px;
	border: 3px solid white;
	border-radius: 100px;
	text-align: center;
	line-height: 100px;
}

// 个人中心，新建、编辑页面 样式

.fileupload-buttonbar{
	.progress{
		display:none;
	}
	&.active{
		.progress{
			display:block
		}
	}
}
