section.queens_page_list{
	margin-top: 50px;
	.queens_page_list_header{
		h2{
			font-size:22px;
			font-weight:500;
			margin:0px;
			line-height:47px;
			span.queens_page_list_header_icon{
				@include inlineBlockIcon(image_path('queens/queens_page_list_icon.png'),38px,44px);
				vertical-align: middle;
			}
		}
		.form-group{
			#q_name_cont{
				width:285px;
				height:36px;
				border:2px solid #ccc;
				border-radius:5px;
				background:url(image_path('queens_work/search.png')) no-repeat scroll right center;
			}
		}
	}
	.col-md-6.queen{
		margin-bottom:20px;
		padding:0;
		a{
			display:block;
			height:250px;
			background-color:#f4bb3f;
			border-top-left-radius:10px;
			border-bottom-left-radius:10px;
			.queen_avatar{
				width:33%;
				float:left;
				img{
					margin-top:50px;
					width:150px;
				}
			}
			.queen_name_desc{
				width:50%;
				float:left;
				padding-top:50px;
				margin-left:50px;
				font-weight:bold;
				h4{
					font-size:22px;
					color:#222;
				}
				p{
					color:#222;
					line-height:30px;
				}
			}
		}
		&.queen_odd{
			border-left:2px dashed #ccc;
			a{
				border-radius:0px;
				border-top-right-radius:10px;
				border-bottom-right-radius:10px;
			}
		}
	}
}

section.queen_info{
	margin-top:55px;
	margin-bottom:30px;
	.col-md-2{
		img{
			width:120px;
			box-shadow:0px 0px 5px rgba(0,0,0,.5);
		}
	}
	.col-md-4{
		h4{

			font-size:16px;
			font-weight:700px;
		}
		p
		{
			font-size:13px;
			color:#666;
		}
	}
}

section.queen_comments{
	
	.container{
		background-color:#ecf4f7;
		height:231px;
	}
	.queen_comments_wapper{
		width:830px;
		height:163px;
		margin:0 auto;
		margin-top:30px;
		background-color:#e0e0e0;
		border-radius:15px;
		box-shadow:3px 3px 3px #eee;
		.width-15{
			float:left;
			display:inline-block;
			width:15%;
		}
		.width-35{
			display:inline-block;
			float:left;
			width:35%;
			&>h5{
				font-size:34px;
				text-align:left;
			}
			&>p{

				font-size:14px;
				font-weight:bold;
				color:#666;
				line-height:28px;
				&.margin-top-20{
					margin-top:26px;
				}
				&>span{
					margin-left:15px;
				}
				span>span{
					margin-right:5px;
					vertical-align: middle;
					@include inlineBlockIcon(image_path("queens_work/like_sprite1.png"),16px,13px);
					background-position:-16px 0px;
				}
			}
		}
		h4,h5{
			margin:0;
			height:100%;
			line-height:163px;
			text-align:center;
			color:$primaryColor;
			font-weight:bold;
			font-size:16px;
		}

	}
}

section.queen_cases_title{
	background-color:$primaryColor;
	margin-top:20px;
	h2{
		font-weight:bold;
		font-size:21px;
		span.queen_cases_header_icon{
			@include inlineBlockIcon(image_path('homepage/show_cases_icon.png'),38px,38px);
			vertical-align: top;
		}
	}
}
section.queen_cases{
	background-color:#ba4a30;
}

section.ants_list.ants_show_page .ants_list_block{
	box-shadow:none;
}
