.user-center-section{
	padding-top:40px;
	.container>.background-white,.container>.background-orange{
		border:1px solid #999;
		border-radius:5px;
	}
	.container>.background-orange{
		background-color:$primaryColor;
	}
	.page_title{
		border-bottom:1px solid #999;
	}
	.content{
		// padding: 0px 30px;
		min-height:300px;
	}
	.back-project-list{
		margin-top:20px;
		.back-to-projects{
			color:white;
		}
	}
	.create-plan h3{
		margin-top:40px;
		margin-bottom:35px;
		color: white;
	}
}
.user-info{
}
.user-tabs-group{
	width:580px;
	margin-right: 30px;
	a.tabs-group-item{
	    margin-left: -47px;
		width:131px;
		height:38px;
		line-height:44px;
		display:inline-block;
		color:#fff;
		font-weight:900;
		background:url(image_path('user/tab_normal1.png')) scroll no-repeat;
		&.active{
			float:left;
			color:#000;
			background-image:url(image_path('user/tab_active.png'));
		}
		&:hover{

		}
	}
}
.project_list{
	.page_title{
		h3{
			font-size:17px;
			text-indent:40px;
			i{
				font-size:24px;
				color:$primaryColor;
				font-weight:900;
			}
		}
	}
}
.project_table{
	thead{
		color:white;
		background-color:$primaryColor;
		tr>th{
			border:none;
		}
	}
	tbody{
		tr>td{
			border:none;
			a{
				color:#333;
				&.btn-ants{
					font-size: 16px;
					color:white;
				}
			}
		}
	}
}
.edit-project-plan{
	.new-plan{
	}
	.edit-plan-list{
		.plan-unit{
			width:100%;
			height:40px;
			line-height:40px;
			margin-bottom:10px;
			background-color:$mainBgColor;
			border-radius:10px;
			span{
				display: inline-block;
				input{
					height:30px;
				}
			}
			span.plan-time{
				width:30%;
				text-indent:10px;
				input{
					width:90%;
					margin-left:10px;
				}
			}
			span.plan-title{
				width:50%;
			}
			span.plan-action{
				width:18%;
			}

		}
	}
	.new-plan-form{
		display:none
	}
}
.project-plan{
	.responsive-calendar{
		padding:0;
		border-radius:0px;
		.controls{
			background-color:#3f3f3f;
		}
		.day-headers{
			background-color:#e3e3e3;
			margin-top:0;
		}
		.day.active a{
		    background-color: $primaryColor;
		}
	}
	.project-plan-list{
		width:90%;
		height:378px;
		list-style:none;
		margin:0;
		padding:0;
		overflow-y:scroll;
		li.plan-task{
			height:60px;
			line-height:60px;
			margin-bottom:10px;
			span{
				display: inline-block;
			}
			span.task-checkbox{
				width:10%
			}
			span.task-time{
				width:25%;
			}
			span.task-title{
				width:40%;
			}
			span.task-action{
				width:18%;
			}
		}
	}
}
.task-result{
	margin-bottom:20px;
	.row.task-result-header,.row.task-result-files{
		background-color:#f5f9fb;
	}
	.task-result-header{
		padding:0px 20px;
		border-bottom:1px solid #333;
		[class*='col-']{
			margin-bottom:0px;
		}
		.col-md-2{
			h5{
				border-right:1px solid #333;
			}
		}
		h5{
			margin:0;
			height:40px;
			line-height:40px;
			color:#666;
			font-weight:bold;
			&.color-black{
				color:#000;
			}
			&.left-offest-2em{
				text-indent:2em;
			}
		}
		.task-status{
			height:40px;
			line-height:40px;
			span.task_success{
				text-align:center;
				background-color:#5ec040;
				color:white;
				@include inlineBlockEle(100px,100%)
			}
		}
	}
	.task-result-files{
		// height:260px;
		min-height:260px;
		.col-md-1{
			height:100%;
			border-right:1px solid #333;
			h6{
				color:#666;
				width:50px;
				font-size:18px;
				letter-spacing:20px;
				word-wrap:break-word;
				display:block;
				height:260px;
				margin:0px;
				padding:80px 0px 0px 15px;
			}
		}
		.col-md-11{
			ul{
				list-style:none;
				margin-top:10px;
				li{
					@include inlineBlockEle(180px,220px);
					vertical-align: top;
					word-wrap: break-word;
					img{
						width:100%;
						margin:0;
						display: inline;
					}
					h6{
						font-size:16px;
						a{
							color:#666;

						}
					}
					a.add_task_attachment{

						span.glyphicon-plus{
							font-size: 80px;
						    display: block;
						    width: 180px;
						    height: 180px;
						    line-height: 180px;
						    background-color: #eee;
						    border-radius: 5px;
						    color: #999;
						}
						&:hover{
							text-decoration:none;
							span.glyphicon-plus{
								background-color:#ddd
							}
						}
					}
					&.uploading a{
						@include inlineBlockEle(180px, 180px);
						text-align:center;
						line-height:180px;
						font-size: 20px;
					    color: #777;
						background-color: #eee;
					}
				}
			}
		}
	}
	.task-confim-block{
		height:80px;
		padding-top:10px;
		text-align:right;
		a.btn{
			width:120px;
			height:35px;

		}
	}
}

.task-vote{
	margin:40px 0px;

	.vote_block{
		display:none;
		.vote_num_selector{
			display: inline-block;
			span.score{
				float:left;
				vertical-align: middle;
				@include inlineBlockIcon(image_path("queens_work/like_sprite2.png"),18px,15px);
				background-position:0px 0px;
				cursor:pointer;
				&.hover{
					background-position:-18px 0px;
				}
			}
		}
	}
	.vote_sum_block{
		display:none;
		span.vote_title{

		}
		span.vote_type_num{
			span.score{
				vertical-align: middle;
				@include inlineBlockIcon(image_path("queens_work/like_sprite2.png"),20px,15px);
				background-position:-17px 0px;
			}
		}
	}
}

.project-comment{
	background-color:white;
	.comments_list{
		padding:0px 15px 40px 15px;
		.a-comment{
			height:210px;
			padding: 30px 0px;
			.avatar_wapper{
				.img-circle{
					width:120px;
				}
			}
			.comment-username{
				margin-top:10px;
			}
			.comment-content-block{
				width:98%;
				margin-right:20px;
				height:150px;
				background-color:white;
				border-radius:10px;
				float:right;
				&:before{
					display:inline-block;
					content:" ";
					background-color:white;
					width:20px;
					height:20px;
					transform: rotate(45deg);
					position:relative;
					top: 60px;
					left: -10px;
					vertical-align: top;
				}
				.comment-content{
					width:90%;
					margin:0 auto;
					height:100px;
					p{
						font-weight:bold;
					}
				}
				.comment-createtime{
					width:90%;
					margin:0 auto;

				}
			}
		}
	}
	.need-comment{
		.project-comment-textarea{
			height:260px;
			background-color:#e0e0e0;
		}
		.submitComment{
			margin:10px 0px;
			width:120px;
			height:40px;
		}
	}
}

.ul-content {
	margin-left: 40px;
	border-left: 1px solid #999;
}

li strong p{
	float: left;
}

.info-time{
	margin-top: 10px;
}

.clearfix:after{
	content: "";
	height: 0;
	clear: both;
}

.info-li{
	padding-left: 10px;
	border-bottom: 1px solid #999;

	list-style: none;
	.btn{
		position: relative;
		right: 15px;
		top: -15px;
		float: right;
		background-color: #f4613f;
		border-color: #f4613f;
		color: #fff;
	}
	.read{
		position: relative;
		right: 15px;
		top: -25px;
		float: right;
	}
}

.info-li:nth-of-type(1){
	margin-top: 35px;
	border-top: 1px solid #999;
}

.right-container {
	display: inline-block;
	position: relative;
	top: 16px;
	left: 35px;
}

.user-info img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid;
	overflow: hidden;
}

.info-ul{
	padding-left: 0;
	overflow: hidden;
}
.page {
	text-align: center;
}

.plan-mask {
	width: 500px;
	height: 50px;
	line-height: 37px;
	position: absolute;
	top: -33px;
  left: -195px;
	background:url(image_path('user/mask-plan.png')) no-repeat;
	background-size: 100% 100%;
	color: white;
	text-align: left;

	span{
		margin-left: 20px;
	}

	.task-input {
		width: 80%;
		input {
			width: 330px;
			height: 30px;
			color: black;
		}
	}

	.task-btn {
		position: absolute;
		top: 4px;
		width: 30px;
		height: 30px;
		background:url(image_path('user/accept.png')) no-repeat;
		background-size: 100% 100%;
	}
}
.calendar-left{
	z-index: 99999;
}
.btn-white{
	background-color: white;
	color: black;
	border-color: white;
}

.form-text{
	padding: 0 80px;
	font-size: 13px;
	p{
		margin: 20px 0;
	}
}
.form-actions{
	text-align: center;
}

nav.pagination {
	width: 100%;
	text-align: center;
	.current.page {
		color: #f4613f;
	}
	.page a {
		color: grey;
	}
}
