
.homepageCarousel{
	margin-top:246px;
	position:relative;
	width:100%;
	height:680px;
	background-color:#2a292e;
	// .owl-stage-outer{
	// 	width:100%;
	// 	height:600px;
	// 	.owl-item{
	// 		.item{
	// 			background-color:#000;
	// 			img{
	// 				opacity:0.2;
	// 			}
	// 		}
	// 		&.active .item img{
	// 			opacity:1;
	// 			transition:opacity 1s;
	// 		}
	// 	}
	// }
	// .owl-nav{
	// 	.owl-prev,.owl-next{
	// 		position:absolute;
	// 		top:300px;
	// 		@include inlineBlockEle(23px,50px);
	// 		background:url(image_path('homepage/slider_arrow.png')) no-repeat scroll;
	// 	}
	// 	.owl-prev{
	// 		left:100px;
	// 		background-position:0 0;
	// 	}
	// 	.owl-next{
	// 		margin-right:10px;
	// 		right:100px;
	// 		background-position:-28px 0px;
	// 		float:right;
	// 	}

	// }
	// .owl-dots{
	// 	position:absolute;
	// 	top:550px;
	// 	width:100%;
	// 	height:10px;
	// 	text-align:center;
	// 	.owl-dot{
	// 		@include inlineBlockEle(10px,10px);
	// 		background-color:#ccc;
	// 		border-radius:5px;
	// 		margin-right:10px;
	// 		&.active{
	// 			background-color:#fff;
	// 		}
	// 	}
	// }
}

section#quick_navi_data_section{
	min-height:220px;
	.container{
	    margin-top: -60px;
	    background-color:white;
		padding:40px;
		box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
		.row.quick_navi_section{
			border-bottom:1px solid #ccc;
			a.quick_btn{
				width:60%;
				height:100%;
				display:inline-block;
				border-radius:5px;
				.quick_btn_picture{
					text-align:center;
					vertical-align:middle;
					width: 109px;
					height:109px;
					border:1px solid #000;
					background-color:$primaryColor;
					margin:20px auto 6px auto;
					border-radius:4px;
					overflow:hidden;
					line-height: 109px;
				}
				h4{
					border:0;
					font-size:15px;
					color:#47525f;
					text-align:center;
					margin-bottom:30px;
					font-weight:100;
				}
				&:hover{
					text-decoration:none;
					h2{
						color:black;
					}
				}
			}
		}
		.row.ants_index_section{
			min-height:330px;
			padding-top:55px;
			.col-lg-4.col-md-4.col-sm-12{
				padding-left:40px;
				h2{
					font-size:19px;
					font-weight:900;
					line-height:29px;
					&>span{
						margin-right:20px;
						border:none;
						&>img{
							vertical-align:top;
						}
					}
				}
				p i{
					font-size:11px;
					color:#97a0af;
					font-style:normal;
				}
				ul{
					list-style:none;
					margin:20px 0 0 0;
					padding:0;
					li{
						line-height:35px;
						color:#333;
						span.ants_index_list_icon{
							//@include inlineBlockIcon(image_path('homepage/ants_index_list_icon.png'),12px,12px);
							margin-right:20px;
							position:relative;
							z-index:1;
							&:before,&:after{
								content: '';
								display: block;
								position: absolute;
								z-index: 2;
								border-radius: 16px;
								border: 2px solid #3da5e3;
							}
							&:before{
								top: 2px;
								left: 2px;
								width: 12px;
								height: 12px;
							}
							&:after{
								top:6px;
								left:6px;
								width: 0px;
								height: 0px;
							}
						}
					}
				}

			}
			.ants_index_block{
				width:664px;
				height:240px;
				background:url(image_path('homepage/ants_index_bg.jpg')) no-repeat scroll;
				&>p{
					padding-top: 75px;
					&>strong{
						color:#fff;
						font-size:50px;
						font-weight:normal;
						display:inline-block;
					}
					strong#total-amounts{
						width: 180px;
					    margin-left: 50px;
					}
					strong#total-projects{
						width: 100px;
					    margin-left: 93px;
					}
					strong#total-ants{
						margin-left: 80px;
					    width: 100px;
					}

				}
			}
		}
	}
}


section.product_list_section,
section.queen_cases{
	min-height:400px;
	background-color:$primaryColor;
	.product_list_header{
		height:80px;
		h2{
			font-size: 22px;
		    font-weight: normal;
		    color: white;
		    margin: 0;
		    margin-left:50px;
		    height: 80px;
		    line-height: 80px;
			.product_list_header_icon{
				@include inlineBlockIcon(image_path('homepage/show_cases_icon.png'),38px,38px);
				vertical-align: middle;
			}
		}
		ul{
			margin-top:20px;
			li{
				a.nav-link{
					font-size:20px;
					color:#fff;
					border-radius:0px;
					background-color:transparent;
					&.active{
						border-bottom:3px solid #ba4a30;
					}
					&:hover{
						border-bottom:3px solid #ba4a30;
					}
				}
			}
		}
	}
	.ants_products_list_container{
		background-color:#ba4a30;
		padding:100px;
		padding:46px;
		.row.case-carousel{
			margin:0 auto;
			width:1100px;
		}
	}
	.case-carousel{
		.product{
			.productBlock{
				width:100%;
			    margin-bottom:10px;
			    .product-image{
				    background:no-repeat scroll;
				    background-size:cover;
			    	width:100%;
			    	padding-bottom: 56.25%;
						position: relative;
			    }
					.play-modal{
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: rgba(0,0,0,0.5);
					}
					.play-icon{
						position: absolute;
						width: 50px;
						top: 50%;
						left: 50%;
						margin-top: -25px;
						margin-left: -25px;
					}

			}

			.caption{
					  position: relative;
		        width: 95%;
		        margin:0 auto;
				h3{
					font-weight:bold;
					font-size:18px;
					a{
						color:#ffc61f;
					}
				}
				.description{
					margin-bottom:10px;
					p{
						font-size:14px;
						color:#fff;
						line-height:25px;
						margin:0;
					}
					p:nth-last-of-type(1){
						position:absolute;
						right:0;top: 0;
					}
				}
				.btn{
					background-color:$primaryColor;
					border-color:$primaryColor;
				}
			}
		}
		.owl-nav{
			width:100%;

			&>div{
				position:absolute;
				display: inline-block;
				width:50px;
				height:50px;
				background-color:rgba(255,255,255,0.5);
				border-radius:3px;
				text-align:center;
				line-height:50px;
				color:#fff;
				font-size:30px;
				&:hover{
				}
			}
			.owl-prev{
				left: -70px;
			    top: 230px;
			}
			.owl-next{
			    right: -70px;
			    top: 230px;
			}
		}
	}
}
.products_section{
	min-height:400px;
	.product_list_header{
		h2{
			font-weight:900;
			.product_list_header_icon{
				@include inlineBlockIcon(image_path('homepage/show_cases_icon.png'),38px,38px);
				vertical-align: top;
			}
		}
		ul{
			margin-top:20px;
			li{
				a.nav-link{
					font-size:20px;
					color:#000;
					border-radius:0px;
					border-bottom:3px solid $mainBgColor;
					&.active{
						border-color:$primaryColor;
					}
					&:hover{
						background-color:transparent;
						border-color:$primaryColor;
					}
				}
			}
		}
	}
	.product_list_normal{
		margin-top:80px;
	}
	.product.right {
		float: right;
	}
	.product{
		height:425px;
		margin-bottom:30px;
		float: left;
		.productBlock{
			width:100%;
			height:425px;
			border-radius:15px;
			background-color:#fff;
			border:1px solid #fff;
			.product-image{
				width:412px;
				height:278px;
				overflow:hidden;
				img{
					height:100%;
					width: 100%;
				}
			}
		}
		.caption{
			margin-left:15px;
			position: relative;
			width: 412px;
			h3{
				font-size:18px;
				border:none;
				a{
					color:$primaryColor;
				}
			}
			.description{
				div b{
					font-size:14px;
				}
				p:nth-last-of-type(1) {
					position: absolute;
					right: 25px;top: 0;
					color: #f4613f;

					.glyphicon-heart,.glyphicon-share {
						border: 2px solid #f4613f;
				    border-radius: 50%;
				    padding: 2px;
				    font-size: 12px;
					}
				}
			}
			.btn{
				background-color:$primaryColor;
				border-color:$primaryColor;
			}
		}
	}
}

section.quick_startup_section{
	min-height:390px;
	background-color:$primaryColor;
	&>.container{
		padding:70px 0px;
	}

}
section.ants_list{
	min-height:390px;
	background-color:#fff;
	&>.container{
		padding-top:80px;
	}
	.ants_recommand_title{
		width:1106px;
		margin:0 auto;
		margin-bottom:43px;
		h2{
			height:35px;
			line-height:35px;
			font-size:19px;
			font-weight:400;
			margin-top:0px;
			margin-bottom:15px;
			// margin-left:50px;
			span.queen_header_icon{
				border:none;
				vertical-align: top;
				display:inline-block;
				width:37px;
				height:37px;
				background:url(image_path('homepage/queens_header_icon.png')) no-repeat scroll;
			}
		}
		p{
			font-size:13px;
			color:#6a6a6a;
			// margin:0px 0px 0px 50px;
		}
	}

	.ants_list_block{
		box-shadow:0px 0px 5px rgba(0, 0, 0, 0.5);
		margin-bottom:100px;
		.ants_list_container{
			width:1106px;
			height:316px;
			margin:0 auto;
			.width143{
				position: relative;
				width:158px;
				float:left;
				margin:0px;
				&>img{
				  width: 100%;
				}
				.ants_queen_contact_card{
					display:none;
					position: absolute;
				    left: 0;
				    top: 0;
				    z-index: 80;
					width:100%;
					height:158px;
					background-color:rgba(47,20,20,.78);
					box-shadow:1px 1px 3px #ccc;
					padding-top:40px;
					h6{
						font-size:18px;
						margin:0px;
						color:#fff;
					}
					.contact_ants_link_p{
						a{
							@include inlineBlockEle(91px,21px);
							background-color:$primaryColor;
							color:white;
							font-size:12px;
							line-height:21px;
						}
					}

				}
				&:hover{
					.ants_queen_contact_card{
						display: block;
					}
				}
			}
		}

	}

	.ants_feature_section{
		height:113px;
		&>.container{
			padding:46px 0px;
		}
		h2{
			margin:0;
			font-weight:300;
			font-size:23px;
			letter-spacing:2px;
			i{
				color:$primaryColor;
			    font-style: normal;
			}
		}
		h4{
			margin-top:50px;
			height:28px;
			line-height:28px;
			font-size:20px;
			font-weight:300;
			color:#888;
			&>span{
			    vertical-align: bottom;
				display:inline-block;
				width:35px;
				height:28px;
				// verical-align:
				background:scroll no-repeat;
				&.featured_icon_1{
					background-image:url(image_path('homepage/features_icon_1a.png'));
				}
				&.featured_icon_2{
					background-image:url(image_path('homepage/features_icon_2a.png'));
				}
				&.featured_icon_3{
					background-image:url(image_path('homepage/features_icon_3a.png'));
				}
			}
		}
	}

	.row.contact_section{
		min-height:133px;
		padding:80px 0px 100px 32px;
		// position:relative;
		h5{
			font-size:19px;
			font-weight:900;
			color:$primaryColor;
			text-indent: 100px;
		}
		.contact_popup{
			width:485px;
			height:452px;
			background:url(image_path('homepage/contact_now.png')) no-repeat;
		    right: 0;
		    bottom:-100px;
		    position: absolute;
				background-size: 100% 100%;
		}

	}
}
