        <h1><span>Pricing option 1</span></h1>
        <div class="row">
          <div class="col-sm-6 col-md-3">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-concrete color-white">
              <div class="pricing-head bordered">
                <div class="pricing-head-body background-white">
                  <div class="price-wrapper color-text">
                    <span class="price"><sup><small>$</small></sup>9.<small>99</small></span><br>
                    <span class="per">Per Month</span>
                  </div>
                </div>
              </div>
              <div class="special background-emerald color-white"><h3>Bronze package</h3></div>
              <div class="caption">
                <div class="description">
                  <ul class="pricing-list">
                    <li>5GB disk space</li>
                    <li>50GB transfer</li>
                    <li>3 mail accounts</li>
                    <li>1 MySQL database</li>
                    <li>1 ftp account</li>
                    <li>PHP5 / MySQL5</li>
                  </ul>
                </div>
                <p class="buttons"><a href="#" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Order</a></p>
              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail popular background-concrete color-black">
              <div class="pricing-head bordered">
                <div class="pricing-head-body background-white">
                  <div class="price-wrapper color-text">
                    <span class="price"><sup><small>$</small></sup>29.<small>99</small></span><br>
                    <span class="per">Per Month</span>
                  </div>
                </div>
              </div>
              <div class="special background-peter-river color-white"><h3>Silver package</h3></div>
              <div class="caption bordered background-white">
                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <ul class="pricing-list">
                    <li>15GB disk space</li>
                    <li>100GB transfer</li>
                    <li>10 mail accounts</li>
                    <li>5 MySQL database</li>
                    <li>5 ftp account</li>
                    <li>PHP5 / MySQL5</li>
                  </ul>
                </div>
                <p class="buttons"><a href="#" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Order</a></p>
              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-concrete color-white">
              <div class="pricing-head bordered">
                <div class="pricing-head-body background-white">
                  <div class="price-wrapper color-text">
                    <span class="price"><sup><small>$</small></sup>99.<small>99</small></span><br>
                    <span class="per">Per Month</span>
                  </div>
                </div>
              </div>
              <div class="special background-sun-flower color-white"><h3>Gold package</h3></div>
              <div class="caption">
                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <ul class="pricing-list">
                    <li>50GB disk space</li>
                    <li>300GB transfer</li>
                    <li>unlimited mail accounts</li>
                    <li>15 MySQL database</li>
                    <li>15 ftp account</li>
                    <li>PHP5 / MySQL5</li>
                  </ul>
                </div>
                <p class="buttons"><a href="#" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Order</a></p>
              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail background-concrete color-white">
              <div class="pricing-head bordered">
                <div class="pricing-head-body background-white">
                  <div class="price-wrapper color-text">
                    <span class="price"><sup><small>$</small></sup>499.<small>99</small></span><br>
                    <span class="per">Per Month</span>
                  </div>
                </div>
              </div>
              <div class="special background-amethyst color-white"><h3>Platinum package</h3></div>
              <div class="caption">
                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <ul class="pricing-list">
                    <li>250GB disk space</li>
                    <li>unlimited transfer</li>
                    <li>unlimited mail accounts</li>
                    <li>unlimited MySQL database</li>
                    <li>unlimited ftp account</li>
                    <li>PHP5 / MySQL5</li>
                  </ul>
                </div>
                <p class="buttons"><a href="#" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Order</a></p>
              </div>
            </div>
            </div>
          </div>
        </div>