
<div class="breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
 
      <%- [:error, :warning, :notice, :message].each do |key| -%>
        <%= content_tag :div, flash[key], :id=> key, class: "alert alert-#{key}"if flash[key] %>  
      <%- end -%>  

    </ol>
  </div>
</div>