
<div class="breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <% if logged_in? %>
        
        <li><a href="#">我是甲方</a></li>
        
      <% elsif queen_logged_in? %>    
          <li><a href="#">我是蚁后</a></li>
        
      <% else %>
        
      <% end %>  
    </ol>
  </div>
</div>